<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<property name="WEB_SERVER_LOG" value="${catalina.base}/logs/hpcweb.log"/>

    <appender name="WEB_SERVER_FILE_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${WEB_SERVER_LOG}</file>


		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/hpcweb.log.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>20</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>500MB</maxFileSize>
		</triggeringPolicy>

        <encoder>
            <pattern>%d %p [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="gov.nih.nci.hpc.web" level="debug" additivity="false">
        <appender-ref ref="WEB_SERVER_FILE_ROLLING"/>
    </logger>

	<root level="error">
        <appender-ref ref="WEB_SERVER_FILE_ROLLING"/>
    </root>
    
</configuration>
