
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<script src="../js/angular/1.4.3/angular.js"></script>
<script src="../js/angular/1.4.3/angular-touch.js"></script>
<script src="../js/angular/1.4.3/angular-animate.js"></script>
<script src="../js/ui-grid/csv.js"></script>
<script src="../js/ui-grid/pdfmake.js"></script>
<script src="../js/ui-grid/vfs_fonts.js"></script>
<script src="../js/ui-grid/ui-grid.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var results = "[[${bookmarksList}]]";
	/*]]>*/
</script>
<style>
/*style.css*/
/* Important part */
.modal-dialog{
    width: 700px;
    overflow-y: initial !important
}
.modal-body{
    height: 450px;
    width: 675px;
    overflow-y: auto;
}
.modal-header{
    width: 650px;
    overflow-y: auto;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
</style>
<script>
//<![CDATA[
	var app = angular.module('app', [ 'ngAnimate', 'ngTouch', 'ui.grid',
			'ui.grid.pagination', 'ui.grid.resizeColumns',
			'ui.grid.moveColumns' ]);

	app.controller('MainCtrl', [
			'$scope',
			'$http',
			'$interval',
			'uiGridConstants',
			function($scope, $http, $interval) {

				$scope.gridBookmarks = {
					enableSorting : true,
					enableFiltering : true,
					paginationPageSize : 100,
					treeRowHeaderAlwaysVisible : false,
					columnDefs : [ {
						field : 'name',
						width : 120,
						displayName : 'Name'
					}, {
						field : 'path',
						width : 400,
						displayName : 'Path'
					} ]
				};
				$scope.gridBookmarks.data = results;
			} ]);
	/*]]>*/
</script>	
</head>
<body>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Bookmarks</h4>
	</div>
		<form class="form-horizontal" id="bookmarksForm"
		    th:object="${hpcBookmark}"
			method="POST">
	<div class="modal-body">
			<div class="panel panel-default">
				<div class="panel-body">
			<table class="table table-bordered" width="600"
				id="bookmarksTable">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Delete</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td colspan="2">
								<div class="pull-left" id="message"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
								<div class="pull-left" id="wait"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
							</td>
						</tr>
				
					<tr th:id="${bookmark.getName()}"
						th:each="bookmark : ${bookmarksList}"
						th:with="index=0">
						<td style="white-space: nowrap" align="left">
							<a th:href="@{/browse(refresh=1,path=${bookmark.getPath()})}">
							<span th:utext="${bookmark.getName()}"></span>
							<input type="hidden" id="path" name="path" th:value="${bookmark.getPath()}"/>
							</a>
						</td>
							<td align="left">
						
						<button th:onclick="'submitForm(\''  + ${bookmark.getName()} + '\')'">
										<i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
						
					</tr>
				</tbody>
			</table>
				</div>
			</div>
	</div>
	<input type="hidden" name="name" id="name" />
	</form>
	<script>
	
	function submitForm(bookmark)
	{
		document.getElementById("name").value = bookmark;
	}
	
		$(function() {
			//twitter bootstrap script
			var $form = $('#bookmarksForm');
			
			$('#bookmarksForm')
					.on(
							'submit',
							function(e) {
								e.preventDefault();
								$("#wait")
											.html(
													'<img width="50" height="50" src="img/spinner.gif" alt="Wait" />');
									var ele = document
											.getElementById("message");
									ele.style.display = "none";
									var waitEle = document
											.getElementById("wait");
									waitEle.style.display = "block";
									$.ajax({
										type : "POST",
										url : "/bookmarks",
										data : $form.serialize(),
										success : function(msg) {
											waitEle.style.display = "none";
											console.log('SUCCESS: ', msg);
											$('#message').html(msg.message);
											ele.style.display = "block";
											deleteRow(document.getElementById("name").value);
										},
										error : function(e) {
											$("#wait").html('');
											console.log('ERROR: ', e);
											$('#message').html(e.message);
											ele.style.display = "block";
										}
									});
							});
		});

		$(function() {
			//twitter bootstrap script
			$('#bookmarksForm').on('close', function(e) {
				$('#myModal-event').modal('hide');
			});
		});
		
		function deleteRow(rowid) {
		    var table = document.getElementById("bookmarksTable");
		    var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
		    var row = document.getElementById(rowid);
		    row.parentNode.removeChild(row);
		}
		
	</script>	
</body>
</html>