
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


<script th:inline="javascript">
/*<![CDATA[*/
    var basePaths = [[${basePaths}]];
/*]]>*/
</script>
<style>
/*style.css*/
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
</style>	
</head>
<body>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Create User</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="userForm"
			th:object="${hpcWebUser}"
			method="POST">
			<div class="panel panel-default">
				<div class="panel-body">
					<table>
						<tr>
							<td>
								<div class="pull-left" id="message"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
								<div class="pull-left" id="wait"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<div class="col-sm-12 column">
										<label for="userId">User ID:</label> <input
											type="text" class="form-control"
											th:field="*{nciUserId}" placeholder="Enter User ID" />
									</div>
									<div class="col-sm-12 column">
										<label for="firstName">First Name:</label> <input
											id="createUserFirstName" type="text" readonly="readonly" class="form-control"
											th:field="*{firstName}"
											placeholder="First Name will be retrieved from LDAP" size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="lastName">Last Name:</label> <input
											id="createUserLastName" type="text" readonly="readonly" class="form-control"
											th:field="*{lastName}" placeholder="Last Name will be retrieved from LDAP"
											size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="lastName">DOC:</label> 
											<select size="1"
												id="doc" name="doc" class="form-control"
												th:required="required" onChange="refreshBasePath(this.value)">
													<option th:if="${#lists.size(docs) &gt; 1}" value="-1">----Select----</option>
													<option
														th:each="attrName : ${docs}"
														th:value="${attrName}" th:text="${attrName}">
														Wireframe</option>
											</select>																			
									</div>
									<div class="col-sm-12 column" th:if="${basePaths != null and basePaths.size() &gt; 0}">
									<label for="basePath">Default Base Path: </label>
									<select size="1"
										id="basePath" name="basePath" class="form-control">
											<option value="">----Select----</option>
									</select>
									</div>
									
									<div class="col-sm-12 column">
										<label for="role">Role:</label> 
											<select size="1"
												id="userRole" name="userRole" class="form-control"
												th:required="required">
													<option th:if="${#lists.size(roles) &gt; 1}" value="-1">----Select----</option>
													<option
														th:each="attrName : ${roles}"
														th:value="${attrName}" th:text="${attrName}">
														Wireframe</option>
											</select>																			
									</div>
									<br/>
									<div class="col-sm-12 column">
									  <input th:if="${notifyUser == true}" type="checkbox" name="notifyUser" id="notifyUser" checked="checked"> Notify User</input>
								      <input th:if="${notifyUser != true}" type="checkbox" name="notifyUser" id="notifyUser"> Notify User</input>
									</div>	
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-md btn-primary"
										id="primaryButton" onClick="return validate()">Create</button>
									<button type="button" class="btn btn-default"
										data-dismiss="modal" id="close">Cancel</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</form>
	</div>

	<script>
	//<![CDATA[
	function refreshBasePath(docName) {
		var attrOptions="<option value=''>--Select--</option>";
		if(basePaths != null && basePaths.length > 0)
		{
			for(var j=0;j<basePaths.length;j++)
			{
				var attr = basePaths[j];
				var basePath = basePaths[j].substring(basePaths[j].indexOf(":")+1, basePaths[j].length);
				var doc = basePaths[j].substring(0,basePaths[j].indexOf(":"));
				if(doc == docName)
					attrOptions = attrOptions + "<option value='"+basePath+"'>"+basePath+"</option>"
			}
		}
	    $('#basePath').empty();
	    $('#basePath').append(attrOptions);
	}	

	function validate()
    {
    	var userName = document.getElementById("nciUserId").value;
        if( /[^a-zA-Z0-9\-\_]/.test( userName ) ) {
        	alert("Invalid User ID. Space is not allowed. Only _ and - special chars are allowed");
            return false;
        }
    }
	
		$(function() {
			//twitter bootstrap script
			var $form = $('#userForm');
			$('#userForm')
					.on(
							'submit',
							function(e) {
								e.preventDefault();
									$("#wait")
											.html(
													'<img width="50" height="50" src="img/spinner.gif" alt="Wait" />');
									var ele = document
											.getElementById("message");
									ele.style.display = "none";
									var waitEle = document
											.getElementById("wait");
									waitEle.style.display = "block";
									$.ajax({
										type : "POST",
										url : "/createuser",
										data : $form.serialize(),
										success : function(msg) {
											waitEle.style.display = "none";
											console.log('SUCCESS: ', msg);
											$('#message').html(msg.message);
											ele.style.display = "block";
											if(msg.message.indexOf("User account created for ") == 0) {
												var name = msg.message.substring("User account created for ".length);
												$("#createUserFirstName").val(name.split(',')[1].trim());
												$("#createUserLastName").val(name.split(',')[0].trim());
											}
										},
										error : function(e) {
											$("#wait").html('');
											console.log('ERROR: ', e);
											$('#message').html(e.message);
											ele.style.display = "block";
										}
									});
							});
		});

		$(function() {
			//twitter bootstrap script
			$("#createuserModal").on("hide.bs.modal", function () {
				var ele = document.getElementById("message");
				ele.style.display = "none";
				$('#userForm')
	            .find("input")
	            .not(":button, :submit, :reset, :hidden")
	            .val("");
				$("#doc").val($("#doc option:first").val());
				$("#basePath").val($("#basePath option:first").val());
				$("#userRole").val($("#userRole option:first").val());
			});
		});
		
		$(function() {
			if($('#doc option').length == 1)
				$("#doc").val($("#doc option:first").val()).change();
				refreshBasePath($("#doc option:first").val());
		});
	//]]>		
	</script>

</body>
</html>