
<!doctype html>
<html ng-app="app">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>HPC Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script
	src="js/angular/1.5.0/angular.js"></script>
<script
	src="js/angular/1.5.0/angular-touch.js"></script>
<script
	src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var results = [[${searchresults}]];
    //results = results.replace(/'/g, '"');
    //var resultsArray = JSON.parse(results);
    var pageNumber = "[[${pageNumber}]]";
    var source = [[${source}]];
    var  queryName = [[${queryName}]];
    var totalRows = [[${totalCount}]];
    var totalPages = "[[${totalPages}]]";
    var targetType = "datafile";
    var currentPage = "[[${pageNumber}]]";
    var currentPageSize = "[[${currentPageSize}]]";
    var hpcSelectedDatafileList = [[${hpcSelectedDatafileList}]];
    var selectedRowsData = [];
/*]]>*/
</script>

<script>
//<![CDATA[
	var app = angular.module('app', [ 'ngAnimate', 'ngTouch', 'ui.grid',
			'ui.grid.grouping', 'ui.grid.pagination', 'ui.grid.resizeColumns',
			'ui.grid.moveColumns', 'ui.grid.exporter', 'ui.grid.selection' ]);
	app
    .filter('dmePathEncoding', function () {
      return function (value) {
        return percentEncodePath(value);
      };
    })
    .controller('MainCtrl', [
      '$scope',
      '$http',
      '$interval',
      function($scope, $http, $interval) {
        $scope.gridOptions1 = {
          exporterMenuPdf: false,
          enableGridMenu: true,
          enableSorting : true,
          enableFiltering : true,
          useExternalPagination: true,
          useExternalSorting: false,
          enablePaginationControls : true,
          enableRowSelection : true,
          enableSelectAll : true,
          treeRowHeaderAlwaysVisible : false,
          paginationPageSizes: [50, 100, 500, 1000, 5000],
          paginationPageSize: parseInt(currentPageSize),
          paginationCurrentPage: parseInt(currentPage),
          columnDefs : [
            {
              field : 'path',
              width : 500,
              displayName : 'Path',
              cellTemplate : '<div class="ui-grid-cell-contents" title="TOOLTIP"><a href="../datafile?action=view&amp;path={{COL_FIELD | dmePathEncoding}}">{{COL_FIELD}}</a></div>'
            },
            {
              field : 'download',
              width : 150,
              displayName : 'Download',
              cellFilter : 'dmePathEncoding',
              cellTemplate : '<div class="ui-grid-cell-contents"><a id="downloadlink" class="btn btn-link btn-sm" href="../download?type=datafile&amp;downloadFilePath={{COL_FIELD CUSTOM_FILTERS}}&amp;source={{grid.appScope.source}}"><i class="fa fa-download" aria-hidden="true"></i></a></div>',
              exporterSuppressExport : true,
              enableSorting: false
            },
            {
              field : 'permission',
              width : 150,
              displayName : 'Permission',
              cellFilter : 'dmePathEncoding',
              cellTemplate: '<div class="ui-grid-cell-contents" title="TOOLTIP"><a class="btn btn-link btn-sm" href="../permissions?assignType=User&amp;type=dataObject&amp;path={{COL_FIELD CUSTOM_FILTERS}}"><i class="fa fa-users" aria-hidden="true"></i></a></div>',
              exporterSuppressExport: true,
              enableSorting: false
            },
            {
                field : 'link',
                width : 150,
                displayName : 'Create Link',
                cellFilter : 'dmePathEncoding',
                cellTemplate : '<div class="ui-grid-cell-contents"><a id="downloadlink" class="btn btn-link btn-sm" href="../link?type=datafile&amp;linkFilePath={{COL_FIELD CUSTOM_FILTERS}}&amp;source={{grid.appScope.source}}"><i class="fa fa-link" aria-hidden="true"></i></a></div>',
                exporterSuppressExport: true,
                enableSorting: false
            }
          ],
          onRegisterApi : function(gridApi) {
            $scope.gridApi = gridApi;
          }
        };
        $scope.gridOptions1.totalItems = totalRows;
        $scope.gridOptions1.multiSelect = true;
        //$scope.gridOptions1.data = resultsArray;
        $scope.gridOptions1.data = results;
        $scope.selectedRows = [];
        $scope.source = source;

        $scope.selectAll = function() {
          $scope.gridApi.selection.selectAllRows();
        };

        $scope.expandAll = function() {
          $scope.gridApi.treeBase.expandAllRows();
        };

        $scope.gridOptions1.onRegisterApi = function(gridApi) {
          //set gridApi on scope
          $scope.gridApi = gridApi;
            $scope.totalPages = totalPages;
            $scope.currentPage = currentPage;
            $scope.totalRows = totalRows;
            $scope.currentPageSize = currentPageSize;

            $interval(function() {
              if(hpcSelectedDatafileList != null)
              {
              for(var i=0;i<hpcSelectedDatafileList.length;i++)
                {
                var row = hpcSelectedDatafileList[i];
                //alert(row);
                  var pageRow = row.substring(0,row.lastIndexOf(":"));
  //								    		  alert(pageRow);
                  var page = pageRow.substring(0,pageRow.indexOf(":"));
  //								    		  alert(page);
                  var row = pageRow.substring(pageRow.indexOf(":")+1);
  //							    		  alert(row);
  //						    		  alert($scope.currentPage);
                  if(page == $scope.currentPage)
                   $scope.gridApi.selection.selectRow($scope.gridOptions1.data[row]);
                }
              }
                            }, 0, 1);

          gridApi.selection.on.rowSelectionChanged($scope, function(
              row) {
            var selectedRowIndex = $scope.gridOptions1.data.indexOf(row.entity);
            if(row.isSelected)
            {
              if(!$scope.selectedRows.contains($scope.currentPage + ":"+selectedRowIndex + ":" + row.path))
                $scope.selectedRows.push($scope.currentPage + ":"+selectedRowIndex + ":" + row.entity.path);
              selectedRowsData = $scope.selectedRows;
            }
            else
            {
              var selectedPath = $scope.currentPage + ":"+selectedRowIndex + ":" + row.entity.path;
              var indexFromSelectedRows = -1;
              for(var x=0;x<$scope.selectedRows.length;x++)
              {
                if(selectedPath == $scope.selectedRows[x])
                  indexFromSelectedRows = x;
              }
              //$scope.selectedRows.pop($scope.currentPage + ":"+selectedRowIndex + ":" + row.entity.path);
              $scope.selectedRows.splice(indexFromSelectedRows, 1);
            }
            selectedRowsData = $scope.selectedRows;
            console.log('SUCCESS: ', $scope.selectedRows);
          });

          gridApi.pagination.on.paginationChanged($scope, function (newPage, pageSize) {
              if(pageSize != parseInt(currentPageSize))
                  updatePage('first', pageSize);
              else if(newPage == parseInt(currentPage) + 1)
            	  updatePage('next', pageSize);
              else if(newPage == parseInt(currentPage) - 1)
            	  updatePage('previous', pageSize)
              else if(newPage == 1)
            	  updatePage('first', pageSize);
              else
            	  updatePage('last', pageSize);

            });
          
          gridApi.selection.on.rowSelectionChangedBatch($scope, function(
              row) {

                var selectAll = false;
                if(gridApi.selection.getSelectedRows().length > 0)
                  selectAll = true;

                gridApi.selection.getSelectedRows().forEach(function(row) {
                  console.log('SUCCESS: ', row);
                  var selectedRowIndex = $scope.gridOptions1.data.indexOf(row);
                  if(!$scope.selectedRows.contains($scope.currentPage + ":"+selectedRowIndex + ":" + row.path))
                    $scope.selectedRows.push($scope.currentPage + ":"+selectedRowIndex + ":" + row.path);
                });
              if(!selectAll)
              {
                for(var z=0;z<$scope.gridOptions1.data.length;z++)
                {
                  var row = $scope.gridOptions1.data[z];
                  var selectedRowIndex = $scope.gridOptions1.data.indexOf(row);
                  //alert("unselected "+$scope.currentPage + ":"+selectedRowIndex + ":" + row.path);
                  var selectedPath = $scope.currentPage + ":"+selectedRowIndex + ":" + row.path;
                  var indexFromSelectedRows = -1;
                  for(var x=0;x<$scope.selectedRows.length;x++)
                  {
                    if(selectedPath == $scope.selectedRows[x])
                      indexFromSelectedRows = x;
                  }
                  //$scope.selectedRows.pop($scope.currentPage + ":"+selectedRowIndex + ":" + row.entity.path);
                  $scope.selectedRows.splice(indexFromSelectedRows, 1);
                }
              }
            console.log('SUCCESS: ', $scope.selectedRows);
            selectedRowsData = $scope.selectedRows;
          });
        };

        Array.prototype.contains = function(obj) {
            var i = this.length;
            while (i--) {
                if (this[i] == obj) {
                    return true;
                }
            }
            return false;
        };

        $scope.editSearch = function() {
        	document.getElementById("editsearchform").submit();
        };
        
        $scope.downloadSelectedRows = function() {
          console.log('$scope.selectedRows: ', $scope.selectedRows);
          console.log('hpcSelectedDatafileList: ', hpcSelectedDatafileList);
          var updatedList = [];
          if($scope.selectedRows != null)
            {
              if(hpcSelectedDatafileList != null)
              {
                for(var i=hpcSelectedDatafileList.length-1;i>=0;i--)
                {
                    var row = hpcSelectedDatafileList[i];
                  var pageRow = row.substring(0,row.lastIndexOf(":"));
                  var page = pageRow.substring(0,pageRow.indexOf(":"));
                  if(page != $scope.currentPage)
                    updatedList.push(row)
                }
              }

              for(var i=0;i<selectedRowsData.length;i++)
                {
                if(!updatedList.contains(selectedRowsData[i]))
                  updatedList.push(selectedRowsData[i]);
              }
            }
          console.log(' after updatedList: ', updatedList);

          if(updatedList == null || updatedList.length == 0)
          {
            alert("Select at least one data file to download");
            return false;
          }
          document.getElementById("downloadFilesform").elements.namedItem("selectedFilePaths").value = updatedList;
          if(source == "criteria")
        	document.getElementById("downloadFilesform").elements.namedItem("searchType").value = "criteria";
          else
        	document.getElementById("downloadFilesform").elements.namedItem("searchType").value = "search";
          document.getElementById("downloadFilesform").elements.namedItem("pageNumber").value =  currentPage;
          document.getElementById("downloadFilesform").elements.namedItem("pageSize").value =  currentPageSize;
          document.getElementById("downloadFilesform").elements.namedItem("queryName").value = queryName;
          document.getElementById("downloadType").value = "datafiles";
          document.getElementById("downloadFilesform").submit();
        };

        $scope.linkSelectedRows = function() {
            console.log('$scope.selectedRows: ', $scope.selectedRows);
            console.log('hpcSelectedDatafileList: ', hpcSelectedDatafileList);
            var updatedList = [];
            if($scope.selectedRows != null)
              {
                if(hpcSelectedDatafileList != null)
                {
                  for(var i=hpcSelectedDatafileList.length-1;i>=0;i--)
                  {
                      var row = hpcSelectedDatafileList[i];
                    var pageRow = row.substring(0,row.lastIndexOf(":"));
                    var page = pageRow.substring(0,pageRow.indexOf(":"));
                    if(page != $scope.currentPage)
                      updatedList.push(row)
                  }
                }

                for(var i=0;i<selectedRowsData.length;i++)
                  {
                  if(!updatedList.contains(selectedRowsData[i]))
                    updatedList.push(selectedRowsData[i]);
                }
              }
            console.log(' after updatedList: ', updatedList);

            if(updatedList == null || updatedList.length == 0)
            {
              alert("Select at least one data file to create link");
              return false;
            }
            document.getElementById("linkFilesform").elements.namedItem("selectedFilePaths").value = updatedList;
            if(source == "criteria")
              document.getElementById("linkFilesform").elements.namedItem("searchType").value = "criteria";
            else
              document.getElementById("linkFilesform").elements.namedItem("searchType").value = "search";
            document.getElementById("linkFilesform").elements.namedItem("pageNumber").value =  currentPage;
            document.getElementById("linkFilesform").elements.namedItem("pageSize").value =  currentPageSize;
            document.getElementById("linkFilesform").elements.namedItem("queryName").value = queryName;
            document.getElementById("linkFilesform").submit();
          };
          
        $scope.clearAll = function() {
          $scope.gridApi.selection.clearSelectedRows();
        };

        $scope.getId = function(grid, row, col) {
          console.log(row);
          if (row.treeNode.children[0].row.treeNode.children[0]) {
            var entity = row.treeNode.children[0].row.treeNode.children[0].row.entity;
            return entity.id;
          } else if (row.treeNode.children[0]) {
            var entity = row.treeNode.children[0].row.entity;
            return entity.id;
          }

          return row.entity.id;
        }
      } ]);
/*]]>*/
</script>
<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 800px;
	height: 400px
}
</style>
</head>
<body th:attr="ng-init='searchresults=\'' + ${searchresults} +'\''">
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-search"></i> Search
						</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home"></i><a th:href="@{/dashboard}">Dashboard
							</a> / <a th:href="@{/criteria}">Search</a></li>
						</ol>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-12 col-md-12" ng-controller="MainCtrl">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="pull-left">
									<h2 align="left">
										<i class="fa fa-list-alt red"></i><strong>Data File
											Search Results</strong>
									</h2>
								</div>
								<div class="pull-right">
									<a data-toggle="modal" id="savesearchlink"
										class="btn btn-link btn-sm" ng-click="downloadSelectedRows()"
										>Download Files</a>
									<a data-toggle="modal" id="linksearchlink"
										class="btn btn-link btn-sm" ng-click="linkSelectedRows()"
										>Create Links</a>
									<a data-toggle="modal" id="savesearchlink"
										class="btn btn-link btn-sm" href="/savesearch"
										data-target="#saveModal">Save Search Criteria</a>
									<a id="editsearchlink"
										class="btn btn-link btn-sm" ng-click="editSearch()"
										>Edit Search Criteria</a>
								</div>
								<div class="modal fade" id="saveModal" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
								<div class="modal fade" id="downloadFilesModal" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>								
								<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>								
								<div class="modal fade" id="permissionModal" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>								
							</div>
							<!--panel-body start-->
							<div class="panel-body">
								<div >
									<div id="grid1" ui-grid="gridOptions1" ui-grid-exporter="true" ui-grid-cellNav="true"
										ui-grid-pagination="true" ui-grid-grouping="true"
										ui-grid-resize-columns="true" ui-grid-move-columns="true" ui-grid-selection="true"></div>
										
								</div>
							</div>
						</div>

					</div>
					<form class="form-horizontal" id="simplesearchform" action="#"
						role="form" th:action="@{/criteria}" th:object="${hpcSearch}"
						method="post" enctype="multipart/form-data">
						<input type="hidden" id="actionType" name="actionType" value="pagination"/>
						<input type="hidden" id="pageNumber" name="pageNumber"/>
						<input type="hidden" id="pageSize" name="pageSize"/>
						<input type="hidden" id="queryName" name="queryName"/>
						<input type="hidden" id="selectedFilePaths" name="selectedFilePaths" value=""/>
					</form> 
					<form class="form-horizontal" id="downloadFilesform" action="#"
						role="form" th:action="@{/downloadfiles}" 
						method="post" enctype="multipart/form-data">
						<input type="hidden" id="selectedFilePaths1" name="selectedFilePaths" value=""/>
						<input type="hidden" id="downloadType" name="downloadType" value=""/>
						<input type="hidden" id="searchType" name="searchType" value=""/>
						<input type="hidden" id="pageNumber1" name="pageNumber"/>
						<input type="hidden" id="pageSize1" name="pageSize"/>
						<input type="hidden" id="queryName1" name="queryName"/>
					</form> 
					<form class="form-horizontal" id="linkFilesform" action="#"
						role="form" th:action="@{/linkfiles}" 
						method="post" enctype="multipart/form-data">
						<input type="hidden" id="selectedFilePaths2" name="selectedFilePaths" value=""/>
						<input type="hidden" id="searchType2" name="searchType" value=""/>
						<input type="hidden" id="pageNumber2" name="pageNumber"/>
						<input type="hidden" id="pageSize2" name="pageSize"/>
						<input type="hidden" id="queryName2" name="queryName"/>
					</form> 
					<form class="form-horizontal" id="editsearchform" action="#"
						role="form" th:action="@{/editSearch}" th:object="${hpcSearch}"
						method="post" enctype="multipart/form-data">
					</form> 
				</div>
				<!--/col-->

			</section>
		</section>
		<!--main content end-->
	</section>
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custom script for all page js/scripts.js relocated into head section -->
<script>
/*<![CDATA[*/
    function updatePage(action, newPageSize)
    {

    	$('.ui-grid-pager-next').prop('disabled', true);
		$('.ui-grid-pager-control-input').prop('disabled', true);
		$('.ui-grid-pager-previous').prop('disabled', true);
		$('.ui-grid-pager-first').prop('disabled', true);
		$('.ui-grid-pager-last').prop('disabled', true);
		$('div.ui-grid-pager-row-count-picker').find( "select" ).prop('disabled', true);
		
		if(action == "next")
			document.getElementById("simplesearchform").elements.namedItem("pageNumber").value = parseInt(currentPage) + 1;
		else if(action == "previous")
			document.getElementById("simplesearchform").elements.namedItem("pageNumber").value = parseInt(currentPage) - 1;
		else if(action == "first")
			document.getElementById("simplesearchform").elements.namedItem("pageNumber").value =  1;
		else if(action == "last")
			document.getElementById("simplesearchform").elements.namedItem("pageNumber").value = totalPages;

		if(source == "'search'" || source == 'search')
			document.getElementById("simplesearchform").action = "/search";
		
		document.getElementById("simplesearchform").elements.namedItem("pageSize").value = parseInt(newPageSize);
		
		var updatedList = [];
		if(selectedRowsData != null)
    	{
	    	if(hpcSelectedDatafileList != null)
	    	{
	    	  for(var i=hpcSelectedDatafileList.length-1;i>=0;i--)
	    	  {
		    	  var row = hpcSelectedDatafileList[i];
	    		  var pageRow = row.substring(0,row.lastIndexOf(":"));
	    		  var page = pageRow.substring(0,pageRow.indexOf(":"));
	    		  if(page != currentPage)
	    			  updatedList.push(row)
	    	  }
	    	}
			
	    	for(var i=0;i<selectedRowsData.length;i++)
    	    {
	    		if(!updatedList.contains(selectedRowsData[i]))
	    			updatedList.push(selectedRowsData[i]);
	    	}
    	}
		
		document.getElementById("simplesearchform").elements.namedItem("queryName").value = queryName;
		document.getElementById("simplesearchform").elements.namedItem("selectedFilePaths").value = updatedList;
		document.getElementById("simplesearchform").submit();
    }

/*]]>*/
</script>

</body>
</html>