<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>NCI Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script
	src="js/angular/1.5.0/angular.js"></script>
<script
	src="js/angular/1.5.0/angular-touch.js"></script>
<script
	src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
	
<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	height: 300px
}
</style>
</head>
<body ng-controller="MyCtrl">

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-laptop"></i> User Tasks
						</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-dashboard"></i><a
								th:href="@{/dashboard}">Dashboard</a></li>
							<li><i class="fa fa-list-alt"></i>Data Object Download Task Details</li>
						</ol>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="panel panel-default" id="statusWrapper">
							<div class="panel-heading" th:if="${hpcDataObjectDownloadStatusDTO != null}">

								<div class="col-md-3">
									<i class="fa fa-list-alt red"></i><strong>Task Details</strong>
								</div>
								<div class="col-md-3 col-md-offset-6" th:if="${hpcBulkDataObjectDownloadRetry == true}">
								<h2>
									<strong> <a id="downloadfailed" class="btn btn-link btn-sm" th:href="@{'javascript:retryDownload(\'' + ${taskId} +'\',\''+${taskType} + '\')'}"><i class="fa fa-repeat" title="Retry" aria-hidden="true"></i></a></strong>
								</h2>
								</div>
							</div>
							<div th:if="${error != null}">
								<div class="alert alert-error">
									<a class="close" data-dismiss="alert">×</a> <label
										for="${error}" th:utext="${error}"></label>
								</div>
							</div>
								<!--panel-body start-->
								<div class="panel-body"  th:if="${hpcDataObjectDownloadStatusDTO != null}">
								<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>								
									<div class="form-group" style="word-break: break-all;">
										<div class="col-md-12 form-group">
											<label for="Name">Path:</label> 
											<a th:href="@{/datafile(action=view,path=${hpcDataObjectDownloadStatusDTO.getPath()})}">
                      					  	  <label for="${hpcDataObjectDownloadStatusDTO.getPath()}" th:text="${hpcDataObjectDownloadStatusDTO.getPath()}">
                     					 	  </label>
                    						</a>		
										</div>
<!-- 
										<div class="col-md-12 form-group">
											<label for="Name">In Progress:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getInProgress()}"
												th:text="${hpcDataObjectDownloadStatusDTO.getInProgress()}"></label>
										</div>
 -->
										<div class="col-md-12 form-group">
											<label for="Name">Transfer Request ID:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getDataTransferRequestId()}"
												th:text="${hpcDataObjectDownloadStatusDTO.getDataTransferRequestId()}"></label>
										</div>
										<div class="col-md-12 form-group">
											<label for="Name">Destination Type:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getDestinationType().value()}"
												th:text="${hpcDataObjectDownloadStatusDTO.getDestinationType().value()}"></label>
										</div>
										<div class="col-md-12 form-group">
											<label for="Name">Destination Endpoint:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getDestinationLocation().getFileContainerId()}"
												th:text="${hpcDataObjectDownloadStatusDTO.getDestinationLocation().getFileContainerId()}"></label>
										</div>
										<div class="col-md-12 form-group">
											<label for="Name">Destination Endpoint Path:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getDestinationLocation().getFileId()}"
												th:text="${hpcDataObjectDownloadStatusDTO.getDestinationLocation().getFileId()}"></label>
										</div>
										<div class="col-md-12 form-group" th:if="${hpcDataObjectDownloadStatusDTO.getResult() != null}">
											<label for="Name">Transfer Completed:</label> <label id="regComplete"
												for="${hpcDataObjectDownloadStatusDTO.getResult()}"
												th:text="${hpcDataObjectDownloadStatusDTO.getResult()}"></label>
										</div>
										<div class="col-md-12 form-group" th:if="${hpcDataObjectDownloadStatusDTO.getResult() == null}">
											<label for="Name">Transfer Completed:</label> <label id="regComplete">In Progress</label>
										</div>
										<div class="col-md-12 form-group" th:if="${hpcDataObjectDownloadStatusDTO.getPercentComplete() != null
											and hpcDataObjectDownloadStatusDTO.getPercentComplete() > 0}">
										<div class="progress">
    										<div class="progress-bar" id="progressBar" role="progressbar" th:attr="aria-valuenow=${hpcDataObjectDownloadStatusDTO.getPercentComplete()}" aria-valuemin="0" aria-valuemax="100"  th:style="'width:'+ ${hpcDataObjectDownloadStatusDTO.getPercentComplete()}+'%;'">
      											<span th:text="${hpcDataObjectDownloadStatusDTO.getPercentComplete()}"></span>
    											%
    										</div>
  										</div>
										</div>
										<div class="col-md-12 form-group" th:if="${hpcDataObjectDownloadStatusDTO.getMessage() != null}">
											<label for="Name">Message:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getMessage()}"
												th:text="${hpcDataObjectDownloadStatusDTO.getMessage()}"></label>
										</div>
										<div class="col-md-12 form-group" th:if="${hpcDataObjectDownloadStatusDTO.getCreated() != null}">
											<label for="textbox1">Transfer Request Created On:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getCreated()}"
												th:text="${#calendars.format(hpcDataObjectDownloadStatusDTO.getCreated(),'dd MMMM yyyy HH:mm:ss')}"></label>
										</div>
										<div class="col-md-12 form-group" th:if="${hpcDataObjectDownloadStatusDTO.getCompleted() != null}">
											<label for="textbox1">Transfer Request Completed On:</label> <label
												for="${hpcDataObjectDownloadStatusDTO.getCompleted()}"
												th:text="${#calendars.format(hpcDataObjectDownloadStatusDTO.getCompleted(),'dd MMMM yyyy HH:mm:ss')}"></label>
										</div>
									</div>
								</div>
							</div>
						<!--/col-->

					</div>
				</div>
				<div class="row"></div>
			</section>
		</section>
		<!--main content end-->
		<div th:include="footer :: footer"></div>
	<form class="form-horizontal" id="downloadForm"
	    th:action="@{/downloadtask}"
		method="POST">
		<input type="hidden" id="taskId" name="taskId" th:value="${taskId}"/>
		<input type="hidden" id="taskType" name="taskType" th:value="${taskType}"/>
	</form>
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/

function retryDownload(task, taskType)
{
	$('#downloadfailed').addClass('disabled');
	document.getElementById("taskId").value = task;
	document.getElementById("taskType").value = taskType;
	$("#downloadForm").submit();
	
}

var pollPercentComplete = setInterval(
		function getPercentComplete() {
			
			var inProgressItems = document.getElementById("inProgressItems");
			if(inProgressItems == null || inProgressItems.value != "true") {
				clearInterval(pollPercentComplete);
				return;
			}
			
			var taskId = $("#taskId").val();
			var taskType = $("#taskType").val();
			$.ajax({
				type : "GET",
				url : "/downloadtask",
				data : {taskId: taskId, type: taskType},
				success : function(msg) {
					console.log('SUCCESS: ', "Refreshing the page");
					//location.reload();
					var status = $("#statusWrapper", msg);
					$("#statusWrapper").html(status);
				},
				error : function(e) {
					console.log('ERROR: ', e);
				}
			});
			
		}, 10000);	


           
/*]]>*/
</script>
</body>
</html>
