<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>HPC Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script src="js/angular/1.5.0/angular.js"></script>
<script src="js/angular/1.5.0/angular-touch.js"></script>
<script src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css" type="text/css" />
<script src="js/jquery/3.1.1/jquery.min.js"></script>
<script src="js/bootstrap/3.3.7/bootstrap.min.js"></script>

<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	height: 300px
}
</style>
</head>
<body ng-controller="MyCtrl">

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-laptop"></i> User Tasks
						</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-dashboard"></i><a
								th:href="@{/dashboard}">Dashboard</a></li>
							<li><i class="fa fa-list-alt"></i>Data Objects Bulk
								Upload Task Details</li>
						</ol>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="panel panel-default" id="statusWrapper">
							<div class="panel-heading"
								th:if="${hpcBulkDataObjectRegistrationTaskDTO != null}">
								<i class="fa fa-list-alt red"></i><strong>Task Details</strong>
							</div>
							<div th:if="${error != null}">
								<div class="alert alert-error">
									<a class="close" data-dismiss="alert">×</a> <label
										for="${error}" th:utext="${error}"></label>
								</div>
							</div>
							<!--panel-body start-->
							<div class="panel-body"
								th:if="${hpcBulkDataObjectRegistrationTaskDTO != null}">
								<div class="form-group">
									<div class="col-md-12 form-group">
										<label for="Name">Task ID:</label> <label
											for="${hpcBulkDataObjectRegistrationTaskDTO.getTaskId()}"
											th:text="${hpcBulkDataObjectRegistrationTaskDTO.getTaskId()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getTaskStatus() != null}">
										<label for="Name">Task Status:</label> <label
											for="${hpcBulkDataObjectRegistrationTaskDTO.getTaskStatus().value()}"
											th:text="${hpcBulkDataObjectRegistrationTaskDTO.getTaskStatus().value()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getResult() != null}">
										<label for="Name">Registration Completed:</label> <label id="regComplete"
											for="${hpcBulkDataObjectRegistrationTaskDTO.getResult()}"
											th:text="${hpcBulkDataObjectRegistrationTaskDTO.getResult()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getResult() == null}">
										<label for="Name">Registration Completed:</label> <label id="regComplete">In Progress</label>
									</div>
									<div class="col-md-12 form-group" 
										th:if="${hpcBulkDataObjectRegistrationTaskDTO.getPercentComplete() != null 
											and hpcBulkDataObjectRegistrationTaskDTO.getPercentComplete() > 0}">
										<div class="progress">
    										<div class="progress-bar" id="progressBarTotal" role="progressbar" th:attr="aria-valuenow=${hpcBulkDataObjectRegistrationTaskDTO.getPercentComplete()}" aria-valuemin="0" aria-valuemax="100"  th:style="'width:'+ ${hpcBulkDataObjectRegistrationTaskDTO.getPercentComplete()}+'%;'">
      											<span th:text="${hpcBulkDataObjectRegistrationTaskDTO.getPercentComplete()}"></span>
    											%
    										</div>
  										</div>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getMessage() != null}">
										<label for="Name">Message:</label> <label
											for="${hpcBulkDataObjectRegistrationTaskDTO.getMessage()}"
											th:text="${hpcBulkDataObjectRegistrationTaskDTO.getMessage()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getCreated() != null}">
										<label for="textbox1">Registration Request Created On:</label> <label
											for="${hpcBulkDataObjectRegistrationTaskDTO.getCreated()}"
											th:text="${#calendars.format(hpcBulkDataObjectRegistrationTaskDTO.getCreated(),'dd MMMM yyyy HH:mm:ss')}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getCompleted() != null}">
										<label for="textbox1">Registration Request Completed On:</label> <label
											for="${hpcBulkDataObjectRegistrationTaskDTO.getCompleted()}"
											th:text="${#calendars.format(hpcBulkDataObjectRegistrationTaskDTO.getCompleted(),'dd MMMM yyyy HH:mm:ss')}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getEffectiveTransferSpeed() != null}">
										<label for="Name">Transfer Speed:</label> <label
											for="${hpcBulkDataObjectRegistrationTaskDTO.getEffectiveTransferSpeed()}"
											th:text="${hpcBulkDataObjectRegistrationTaskDTO.getEffectiveTransferSpeed()}"></label>
									</div>
								</div>

							</div>
							<div class="panel-heading" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getInProgressItems() != null and hpcBulkDataObjectRegistrationTaskDTO.getInProgressItems().size() &gt; 0}">
								<div class="col-md-3">
								<h2>
									<i class="fa fa-list-alt red"></i><strong>In Progress</strong>
									<input type="hidden" id="inProgressItems" name="inProgressItems" value="true"/>
								</h2>
								</div>
							</div>
							<div class="panel-body"
								th:if="${hpcBulkDataObjectRegistrationTaskDTO.getInProgressItems() != null and hpcBulkDataObjectRegistrationTaskDTO.getInProgressItems().size() &gt; 0}">
								<div class="panel panel-default"
									th:each="hpcUploadTaskItem : ${hpcBulkDataObjectRegistrationTaskDTO.getInProgressItems()}" style="margin-top:5px" >
									<div class="col-md-12 form-group" style="word-break: break-all;">
										<label for="Name">Path:</label> <label
											for="${hpcUploadTaskItem.getPath()}"
											th:text="${hpcUploadTaskItem.getPath()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcUploadTaskItem.getMessage() != null}">
										<label for="Name">Message:</label> <label
											for="${hpcUploadTaskItem.getMessage()}"
											th:text="${hpcUploadTaskItem.getMessage()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcUploadTaskItem.getPercentComplete() != null
											and hpcUploadTaskItem.getPercentComplete() > 0}">
										<div class="progress">
    										<div class="progress-bar" id="progressBar" role="progressbar" th:attr="aria-valuenow=${hpcUploadTaskItem.getPercentComplete()}" aria-valuemin="0" aria-valuemax="100"  th:style="'width:'+ ${hpcUploadTaskItem.getPercentComplete()}+'%;'">
      											<span th:text="${hpcUploadTaskItem.getPercentComplete()}"></span>
    											%
    										</div>
  										</div>
									</div>
								</div>
							</div>
							<div class="panel-heading" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getFailedItems() != null and hpcBulkDataObjectRegistrationTaskDTO.getFailedItems().size() &gt; 0}">
								<div class="col-md-3">
									<h2>
										<i class="fa fa-list-alt red"></i><strong>Failed</strong>
									</h2>
								</div>
								<div class="col-md-3 col-md-offset-6" th:if="${hpcBulkDataObjectRegistrationRetry == true}">
								<h2>
									<strong> <a id="uploadfailed" class="btn btn-link btn-sm" th:href="@{'javascript:retryUpload(\'' + ${taskId} +'\',\''+${taskType} + '\')'}" ><i class="fa fa-repeat" title="Retry" aria-hidden="true"></i></a></strong>
								</h2>
								</div>
							</div>
							<div class="panel-body"
								th:if="${hpcBulkDataObjectRegistrationTaskDTO.getFailedItems() != null and hpcBulkDataObjectRegistrationTaskDTO.getFailedItems().size() &gt; 0}">
								<div class="panel panel-default"
									th:each="hpcUploadTaskItem : ${hpcBulkDataObjectRegistrationTaskDTO.getFailedItems()}"  style="margin-top:5px">
									<div class="col-md-12 form-group" style="word-break: break-all;">
										<label for="Name">Path:</label> <label
											for="${hpcUploadTaskItem.getPath()}"
											th:text="${hpcUploadTaskItem.getPath()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcUploadTaskItem.getMessage() != null}">
										<label for="Name">Message:</label> <label
											for="${hpcUploadTaskItem.getMessage()}"
											th:text="${hpcUploadTaskItem.getMessage()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcUploadTaskItem.getCompleted() != null}">
										<label for="textbox1">Registration Failed On:</label> <label
											for="${hpcUploadTaskItem.getCompleted()}"
											th:text="${#calendars.format(hpcUploadTaskItem.getCompleted(),'dd MMMM yyyy HH:mm:ss')}"></label>
									</div>
								</div>
							</div>
							<div class="panel-heading" th:if="${hpcBulkDataObjectRegistrationTaskDTO.getCompletedItems().size() > 0}">
								<h2>
									<i class="fa fa-list-alt red"></i><strong>Completed</strong>
								</h2>
							</div>
							<div class="panel-body"
								th:if="${hpcBulkDataObjectRegistrationTaskDTO.getCompletedItems().size() > 0}">
								<div class="panel panel-default"
									th:each="hpcUploadTaskItem : ${hpcBulkDataObjectRegistrationTaskDTO.getCompletedItems()}"  style="margin-top:5px">
									<div class="col-md-12 form-group" style="word-break: break-all;">
										<label for="Name">Path:</label>
                    <a th:href="@{/datafile(action=view,path=${hpcUploadTaskItem.getPath()})}">
                      <label for="${hpcUploadTaskItem.getPath()}" th:text="${hpcUploadTaskItem.getPath()}">
                      </label>
                    </a>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcUploadTaskItem.getMessage() != null}">
										<label for="Name">Message:</label> <label
											for="${hpcUploadTaskItem.getMessage()}"
											th:text="${hpcUploadTaskItem.getMessage()}"></label>
									</div>
									<div class="col-md-12 form-group" th:if="${hpcUploadTaskItem.getCompleted() != null}">
										<label for="textbox1">Registration Request Completed On:</label> <label
											for="${hpcUploadTaskItem.getCompleted()}"
											th:text="${#calendars.format(hpcUploadTaskItem.getCompleted(),'dd MMMM yyyy HH:mm:ss')}"></label>
									</div>
								</div>
							</div>
						</div>
						<!--/col-->

					</div>
				</div>
				<div class="row"></div>
				<form class="form-horizontal" id="uploadForm" th:action="@{/uploadtask}" method="POST">	
					<input type="hidden" id="taskId" name="taskId" th:value="${taskId}"/>
					<input type="hidden" id="taskType" name="taskType" th:value="${taskType}"/>
				</form>	
				
			</section>
		</section>
		<!--main content end-->
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>
	
	
<script th:inline="javascript">	

function retryUpload(task, taskType)
{
	$('#uploadfailed').addClass('disabled');
	document.getElementById("taskId").value = task;
	document.getElementById("taskType").value = taskType;
	$("#uploadForm").submit();
	
}

var pollPercentComplete = setInterval(
function getPercentComplete() {
	
	var inProgressItems = document.getElementById("inProgressItems");
	if(inProgressItems == null || inProgressItems.value != "true") {
		clearInterval(pollPercentComplete);
		return;
	}
	
	var taskId = $("#taskId").val();
	var taskType = $("#taskType").val();
	$.ajax({
		type : "GET",
		url : "/uploadtask",
		data : {taskId: taskId, type: taskType},
		success : function(msg) {
			console.log('SUCCESS: ', "Refreshing the page");
			//location.reload();
			var status = $("#statusWrapper", msg);
			$("#statusWrapper").html(status);
		},
		error : function(e) {
			console.log('ERROR: ', e);
		}
	});
	
}, 10000);	

</script>
</body>
</html>
