<html>
    <section th:fragment="hierarchy">
        <ul>
            <li th:each="hierarchy : ${hierarchyList}">
            	<a th:text="${hierarchy.collectionType}">Parent</a><i title="Data file allowed" class="fa fa-check" th:if="${hierarchy.isDataObjectContainer}"></i>
                <a style="border:none" onclick="show(this)"><i title="Show mandatory metadata" class="fa fa-plus"></i></a>
                <div style="display: none">
					<div th:each="entry : ${collectionMetadata}"
						th:if="${collectionMetadata != null}">
						<div class="required" th:text="${entry.getAttribute()}" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
							th:if="${#strings.isEmpty(entry.getDefaultValue()) and entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
						<div th:text="${entry.getAttribute()}" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
							th:if="${#strings.isEmpty(entry.getDefaultValue()) and !entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
						<div class="required" th:text="${entry.getAttribute()} + ' (Default: ' + ${entry.getDefaultValue()} + ')'" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
							th:if="${!#strings.isEmpty(entry.getDefaultValue()) and entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
						<div th:text="${entry.getAttribute()} + ' (Default: ' + ${entry.getDefaultValue()} + ')'" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
							th:if="${!#strings.isEmpty(entry.getDefaultValue()) and !entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
					</div>
				</div>
				<div th:if="${hierarchy.isDataObjectContainer}">
						<ul>
				            <li>
				                <a>DataObject</a>
				                <a style="border:none" onclick="show(this)"><i title="Show mandatory metadata" class="fa fa-plus"></i></a>
									<div style="display: none">
										<div th:each="entry : ${dataObjectMetadata}"
											th:if="${dataObjectMetadata != null}">
											<div class="required" th:text="${entry.getAttribute()}" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
												th:if="${#strings.isEmpty(entry.getDefaultValue()) and entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
											<div th:text="${entry.getAttribute()}" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
												th:if="${#strings.isEmpty(entry.getDefaultValue()) and !entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
											<div class="required" th:text="${entry.getAttribute()} + ' (Default: ' + ${entry.getDefaultValue()} + ')'" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
												th:if="${!#strings.isEmpty(entry.getDefaultValue()) and entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
											<div th:text="${entry.getAttribute()} + ' (Default: ' + ${entry.getDefaultValue()} + ')'" th:title="${!entry.getValidValues().isEmpty()} ? ${entry.getValidValues().toString()} : ${entry.getDateFormat()}"
												th:if="${!#strings.isEmpty(entry.getDefaultValue()) and !entry.getMandatory() and #lists.contains(entry.getCollectionTypes(), hierarchy.collectionType)}"></div>
										</div>
									</div>
				            </li>
				        </ul>
					</div>
                <section th:include="@{datahierarchyfragment} :: hierarchy" th:with="hierarchyList=${hierarchy.subCollectionsHierarchies}"></section>
            </li>
        </ul> 
    </section>
</html>