<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css"  />
		<link rel="stylesheet" type="text/css" href="css/ui-grid.css" />
		<script src="../js/angular/1.4.3/angular.js"></script>
		<script src="../js/angular/1.4.3/angular-touch.js"></script>
		<script src="../js/angular/1.4.3/angular-animate.js"></script>
		<script src="../js/ui-grid/csv.js"></script>
		<script src="../js/ui-grid/pdfmake.js"></script>
		<script src="../js/ui-grid/vfs_fonts.js"></script>
		<script src="../js/ui-grid/ui-grid.js"></script>
		<script	src="js/jquery/3.1.1/jquery.min.js"></script>
		<script	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
	</head>
	<body>
		<p>Under construction!</p>
	</body>
</html>