
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/bootstrap-theme.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />

<script src="../js/angular/1.4.3/angular.js"></script>
<script src="../js/angular/1.4.3/angular-touch.js"></script>
<script src="../js/angular/1.4.3/angular-animate.js"></script>
<script src="../js/ui-grid/csv.js"></script>
<script src="../js/ui-grid/pdfmake.js"></script>
<script src="../js/ui-grid/vfs_fonts.js"></script>
<script src="../js/ui-grid/ui-grid.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
	
	<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	height: 300px
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
    var assignedNames = [[${names}]];
/*]]>*/
</script>
</head>
<body ng-controller="MyCtrl">

	<!-- container section start -->
	<section id="container" class="">
	  <div th:include="header :: header"></div>
	  <!--main content start-->
	  <section id="main-content">
	    <section class="wrapper">

		  <!--Title start-->
		  <div class="row">
			<div class="col-lg-12">
			  <h3 class="page-header">
				<i class="fa fa-dashboard"></i> Dashboard
			  </h3>
			  <ol class="breadcrumb">
				  <li><i class="fa fa-dashboard"></i><a th:href="@{/dashboard}">Dashboard</a></li>
				  <li><i class="fa fa-list-alt"></i>Detail View</li>
				  <li><i class="fa fa-list-alt"></i>Download</li>
			  </ol>
		    </div>
		  </div>
		  <!--Title End-->

		  <!--Row start-->
		    <div class="row">
			  <div class="col-lg-9 col-md-12">
			    <div class="panel panel-default">
				  <div class="panel-heading">
				    <h2>
					  <i class="fa fa-list-alt red"></i><strong>Download</strong>
					</h2>
				  </div>

				  <div th:if="${error == null}">
				  <!--panel-body start-->
				    <div class="panel-body">



	     <div>
	      <form class="form-horizontal" id="downloadForm"
			th:object="${hpcDownloadDatafile}" method="POST">


			<div class="pull-center" th:if="${downloadType == 'datafile'}">
			  <p>You may download selected data file either synchronously to your computer or asynchronously to Globus endpoint location.</p>
			</div>
			<div class="pull-center" th:if="${downloadType == 'collection' or searchType == 'async'}">
        <p>You will asynchronously download selected collection to Globus endpoint location.  At targeted Globus endpoint, a new directory will be created under the specified directory.</p>
        <script type="text/javascript">
           setTimeout(function() {
             var asyncRadioBtn = $("input[name='searchType'][value='async']");
             $(asyncRadioBtn).click();
             $(asyncRadioBtn).trigger("change");
            }, 300);
        </script>
			</div>
      <div id="globus-help-links" style="display: none;">
				Please grant write access of targeted Globus endpoint to appropriate HPC DME Globus Group.  Click <a href="https://wiki.nci.nih.gov/display/DMEdoc/Preparing+to+Use+Globus+with+DME" target="_blank" title="Link to help document (opens in new tab or window)">here</a> for instructions.
      </div>
			<div class="panel panel-default">
				<div class="panel-body">

					<table>
						<tr>
							<td>
								<div class="pull-left" id="message"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
								<div class="pull-left" id="wait"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
										<div class="pull-left" th:if="${downloadType == 'datafile'}">
										<label
										class="radio-inline"><input type="radio"
										id="searchType" name="searchType" value="sync"
										onChange="display(this)" checked="chekced" />Synchronous</label>
										</div>

										<div class="pull-left">
										<label class="radio-inline"><input type="radio"
										name="searchType" id="searchType" value="async"
										onChange="display(this)"/>Asynchronous</label>
										</div>
								</div>
								<div class="form-group" id="AsyncDiv" style="display: none">
									<div class="col-sm-12 column">
										<label for="endPointName">Globus Endpoint UUID:</label>
											<a id="downloadlink" 
                                            th:href="@{../download(type=datafile,actionType=Globus,downloadFilePath=${downloadFilePath})}">
                                            Select Globus Endpoint UUID and Destination Path</a>
										<input type="hidden" name="actionType" id="actionType" />
										<input
											type="text" class="form-control" name="endPointName" th:value="${endPointName}"
											id="endPointName" placeholder="Enter Globus Endpoint name" />
									</div>
									<div class="col-sm-12 column">
										<label for="endPointLocation">Globus Endpoint (Destination) Path :</label> <input
											type="text" class="form-control"
											th:value="${endPointLocation}"
											name="endPointLocation" id="endPointLocation"
											placeholder="Enter Globus Endpoint Path" size="40" />
									</div>
								</div>

								<div class="form-group" id="SyncDiv" style="display: show" th:if="${downloadType == 'datafile'}">
									<div class="col-sm-12 column">
										<label for="downloadFileName">Download file name:</label> <input
											type="text" class="form-control"
											id="downloadFileName" size="45" name="downloadFileName" th:value="${downloadFilePathName}"
											placeholder="Enter Download file name" />
									</div>
								</div>
								<div>
									<button class="btn btn-primary" id="submit"
										onClick="return validateAndSubmit()">Download</button>
								</div>
							</td>
						</tr>
					</table>
					<input type="hidden" name="destinationPath" id="destinationPath"
						th:value="${downloadFilePath}" />
					<input type="hidden" name="downloadType" id="destinationPath"
						th:value="${downloadType}" />

                  </div>
                 </div> 
               </form>
               <form class="form-horizontal" id="downloadSyncForm"
                       th:object="${hpcDownloadDatafile}" method="POST">
                       <input type="hidden" name="destinationPath" id="destinationPath"
                               th:value="${downloadFilePath}" /> <input type="hidden"
                               class="form-control" th:field="*{downloadFileName}"
                               id="downloadFileName" placeholder="Enter Download file name" />
               </form>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
 

    </section>
    </section>
    </section>

	<script>
		function validateAndSubmit() {
			var radioSelected = document.getElementsByName("searchType");
			var radioValue = document.querySelector('input[name="searchType"]:checked').value

			if (radioValue == 'async') {
				var endPointName = document.getElementById("endPointName").value;
				var endPointLocation = document
						.getElementById("endPointLocation").value;
				if (endPointLocation == null
						|| endPointLocation.trim().length == 0
						|| endPointName == null
						|| endPointName.trim().length == 0) {
					alert("Please enter asynchronous download values");
					return false;
				}
			} else {
				var downloadFileName = document
						.getElementById("downloadFileName").value;
				if (downloadFileName == null
						|| downloadFileName.trim().length == 0) {
					alert("Please enter synchronous download file name");
					return false;
				}
			}

			if (radioValue == 'sync') {
				var downloadFileName = document.getElementById("downloadForm").elements
						.namedItem("downloadFileName").value;
				document.getElementById("downloadSyncForm").elements
						.namedItem("downloadFileName").value = downloadFileName;
				$('#downloadSyncForm').attr('action', '/downloadsync');
				$("#downloadSyncForm").submit();
				return false;
			}
		}

		function refreshAttributes(type)
	    {
			//$("#actionType").val(type);
			document.getElementById("actionType").value = type;
			$("#downloadForm").submit();
	    }

		$(function() {
			//twitter bootstrap script
			var $form = $('#downloadForm');
			$('#downloadForm')
					.on(
							'submit',
							function(e) {
								var actionType = document.getElementById("actionType").value;
								if(actionType == 'Globus') {
									window.location.href = "/download?actionType=Globus";
									document.getElementById("downloadForm").method = "post";
									return false;
								}
								e.preventDefault();
								
								var radioValue = document.querySelector('input[name="searchType"]:checked').value
								if (radioValue == 'async') {
									$("#wait")
											.html(
													'<img width="50" height="50" src="img/spinner.gif" alt="Wait" />');
									var ele = document
											.getElementById("message");
									ele.style.display = "none";
									var waitEle = document
											.getElementById("wait");
									waitEle.style.display = "block";
									$.ajax({
										type : "POST",
										url : "/download",
										data : $form.serialize(),
										success : function(msg) {
											waitEle.style.display = "none";
											console.log('SUCCESS: ', msg);
											$('#message').html(msg.message);
											ele.style.display = "block";
										},
										error : function(e) {
											$("#wait").html('');
											console.log('ERROR: ', e);
											$('#message').html(e.message);
											ele.style.display = "block";
										}
									});
								} else {
									return false;
								}
							});
		});


		var toggle = true;
		function display(ele) {
			var asyncDiv = document.getElementById("AsyncDiv");
			var globusHelpLinksDiv = document.getElementById("globus-help-links");
			var syncDiv = document.getElementById("SyncDiv");
			if (ele.value == "async") {
				asyncDiv.style.display = "block";
				globusHelpLinksDiv.style.display = "block";
				syncDiv.style.display = "none";
			} else {
				syncDiv.style.display = "block";
				asyncDiv.style.display = "none";
				globusHelpLinksDiv.style.display = "none";
			}
		}
	</script>

</body>
</html>