
<th:block th:fragment="downloadSelectFragment">
	<div style="width: 100%">
		<div class="form-group" id="radioset">
			<p style="margin-left: 15px">Transfer Type:</p>
			<div class="pull-left" style="margin-left: 15px"
				th:if="${downloadType == 'datafile'}">
				<label class="radio-inline"><input type="radio"
					id="searchTypeSync" name="searchType" value="sync"
					onChange="display('sync')" checked="checked" />Local
					System</label>
			</div>
			<div class="pull-left" style="margin-left: 15px">
				<label class="radio-inline"><input type="radio"
					name="searchType" id="searchTypeAsync" value="async"
					onChange="display('async')" />Globus</label>
			</div>
			<div class="pull-left" style="margin-left: 15px">
				<label class="radio-inline"><input type="radio"
					name="searchType" id="searchTypeS3" value="s3"
					onChange="display('s3')" />AWS S3</label>
			</div>
			<div class="pull-left" style="margin-left: 15px">
				<label class="radio-inline"><input type="radio"
					name="searchType" id="searchTypeDrive" value="drive"
					onChange="display('drive')" />Google Drive</label>
			</div>
			<div class="pull-left" style="margin-left: 15px">
				<label class="radio-inline"><input type="radio"
					name="searchType" id="searchTypeGoogleCloud"
					value="googleCloud" onChange="display('googleCloud')" />Google
					Cloud</label>
			</div>
			<div class="pull-left" style="margin-left: 15px">
				<label class="radio-inline"><input type="radio"
					name="searchType" id="searchTypeAspera" value="aspera"
					onChange="display('aspera')" />dbGaP</label>
			</div>
		</div>
		<br/>
	</div>
</th:block>



<th:block th:fragment="globusHelpFragment">
    <div id="globus-help-links" style="display: none; margin-top: -15px; margin-bottom: 15px">
              To download to Globus, DME should be provided write access to the targeted Globus endpoint.  Refer to <a href="https://wiki.nci.nih.gov/x/cAyKFg" target="_blank" title="Link to help document (opens in new tab or window)">Preparing to Use Globus with DME</a> for instructions.
    </div> 
</th:block>

<th:block th:fragment="globusDivFragment">
	<div class="form-group" id="AsyncDiv" style="display: none">
	    <div class="col-sm-12 column">
			<label for="endPointName">Globus Endpoint UUID:</label> 
			<a id="downloadlink" 
	                                    th:href="@{../download(type=${downloadType},source=${source},actionType=Globus,downloadFilePath=${downloadFilePath})}">                                  
	                                    Obtain from Globus (Optional)</a>
			<input type="hidden" name="actionType" id="actionType" />
			<input
				type="text" style="margin-top: 2px; margin-bottom: 10px;" class="form-control fieldWidth" name="endPointName" th:value="${endPointName}"
				id="endPointName" placeholder="Enter Globus Endpoint UUID" />
		</div>
		<div class="col-sm-12 column">
			<label for="endPointLocation">Endpoint Path:</label> 
			<input
				type="text" class="form-control fieldWidth"
				th:value="${endPointLocation}"
				name="endPointLocation" id="endPointLocation" style="margin-top: 1px; margin-bottom: 1px;" 
				placeholder="Enter Globus Endpoint Path" />
		</div>
	</div>
</th:block>

<th:block th:fragment="awsBlock">		
		<div class="form-group" id="s3Div" style="display: none; margin: -15px">
			<div class="col-sm-12 column">
				<label for="bucketName">S3 Bucket:</label>
				<input
					type="text" class="form-control" name="bucketName" th:value="${bucketName}"
					id="bucketName" placeholder="Enter S3 Bucket Name" style="margin-top: 1px; margin-bottom: 10px; width:600px;" />
			</div>
			<div class="col-sm-12 column">
				<label for="s3Path">Endpoint Path:</label> <input
					type="text" class="form-control fieldWidth fieldMargin"
					th:value="${s3Path}"
					name="s3Path" id="s3Path"
					placeholder="Enter S3 Endpoint Path" />
			</div>
			<div class="col-sm-12 column">
				<label for="accessKey">Access Key:</label> <input
					type="text" class="form-control fieldWidth fieldMargin"
					th:value="${accessKey}"
					name="accessKey" id="accessKey"
					placeholder="Enter Access Key" style="margin-top: 1px; margin-bottom: 10px; width:600px;"  />
			</div>
			<div class="col-sm-12 column">
				<label for="secretKey">Secret Access Key:</label> <input
					type="password" autocomplete="secret-access-key" class="form-control fieldWidth fieldMargin"
					th:value="${secretKey}"
					name="secretKey" id="secretKey"
					placeholder="Enter Secret Access Key" />
			</div>
			<div class="col-sm-12 column">
				<label for="region">Region:</label> <input
					type="text" class="form-control fieldWidth"
					th:value="${region}"
					name="region" id="region"
					placeholder="Enter Region (for Example us-east-1)" style="margin-top: 1px; margin-bottom: 16px;"  />
			</div>
		</div>							
</th:block>


<th:block th:fragment="googleDriveBlock">
	<div class="form-group" id="driveDiv" style="display: none">
		<div class="col-sm-12 column" style="margin:-10px">
			<a class="btn btn-primary" id="driveAuthlink" 
                                     th:href="@{../download(type=${downloadType},source=${source},actionType=Drive,downloadFilePath=${downloadFilePath})}">
                                     Authorize DME to Access Your Google Drive</a>
		</div>
		<div th:if="${authorized != null}" class="alert-success"><i class="fa fa-check">&nbsp;</i>Access Token successfully generated</div>
		<br/>
		<div class="col-sm-12 column">
			<label for="drivePath">Endpoint Path:</label>
			<a th:if="${authorized != null}" id="pickerLink" onclick="loadDownloadPicker()" style="cursor:pointer">
                                     Select from Google Drive (Optional)</a>
			<input
				type="text" class="form-control" style="width:600px;"
				th:value="${drivePath}"
				name="drivePath" id="drivePath"
				placeholder="Enter Google Drive Endpoint Path" size="40" />
		</div>
	</div>
</th:block>

<th:block th:fragment="googleCloudBlock">
	<div class="form-group" id="googleCloudDiv" style="display: none">
		<div class="col-sm-12 column" style="margin:-10px">
			<a class="btn btn-primary" id="googleCloudAuthlink"
                                     th:href="@{../download(type=${downloadType},source=${source},actionType=googleCloud,downloadFilePath=${downloadFilePath})}">
                                     Authorize DME to Access Your Google Cloud</a>
		</div>
		<div th:if="${authorizedGC != null}" class="alert-success"><i class="fa fa-check">&nbsp;</i>Access Token successfully generated</div>
		<br/>
		<div class="col-sm-12 column">
			<label for="googleCloudBucketName">Google Cloud Bucket</label>
			<input
				type="text" class="form-control" name="googleCloudBucketName" th:value="${googleCloudBucketName}"
				id="googleCloudBucketName" placeholder="Enter Google Cloud Bucket Name" />
		</div>
		<div class="col-sm-12 column">
			<label for="googleCloudPath">Endpoint Path:</label>
			<input
				type="text" class="form-control fieldWidth"
				th:value="${googleCloudPath}"
				name="googleCloudPath" id="googleCloudPath"
				placeholder="Enter Google Cloud Endpoint Path" />
		</div>
	</div>
</th:block>


<th:block th:fragment="asperaBlock">
	<div class="form-group" id="asperaDiv" style="display: none; margin: -15px">
		<div class="col-sm-12 column">
			<label for="asperaBucketName">Aspera Destination Directory:</label>
			<div th:if="${asperaBucketName == 'test'}" id="oneOption">
				<select name="asperaBucketName" id="asperaBucketName" class="form-control fieldWidth fieldMargin">
					<option th:value="test" th:text="test" selected="selected"></option>
				</select>
			</div>
			<div th:if="${asperaBucketName != 'test'}"  id="multipleOption">
				<select name="asperaBucketName" id="asperaBucketName" class="form-control fieldWidth fieldMargin">
					<option th:value="${asperaBucketName}" th:text="${asperaBucketName}" selected="selected"></option>
					<option th:value="test" th:text="test" ></option>
				</select>
			</div>
		</div>
		<div class="col-sm-12 column">
			<label for="asperaUser">Aspera Account User:</label> <input
				type="text" class="form-control fieldWidth fieldMargin"
				th:value="${asperaUser}"
				name="asperaUser" id="asperaUser"
				placeholder="Enter User" />
		</div>
		<input type="hidden" name="asperaPath" id="asperaPath"
				th:value="${asperaPath}" />
		<div class="col-sm-12 column">
			<label for="asperaPassword">Aspera Account Password:</label> <input
				type="password" autocomplete="secret-access-key" class="form-control fieldWidth  fieldMargin"
				th:value="${asperaPassword}"
				name="asperaPassword" id="asperaPassword"
				placeholder="Enter Aspera Password" />
		</div>
		<div class="col-sm-12 column">
			<label for="asperaHost">Aspera Host:</label> <input
				type="text" class="form-control fieldWidth"
				th:value="${asperaHost}"
				name="asperaHost" id="asperaHost"
				placeholder="Enter Aspera Host" style="margin-top: 1px; margin-bottom: 21px;" />
		</div>
	</div>
</th:block>

