<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>NCI Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script
	src="js/angular/1.5.0/angular.js"></script>
<script
	src="js/angular/1.5.0/angular-touch.js"></script>
<script
	src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var results = "[[${searchresults}]]";
	/*]]>*/
</script>

<script>
//<![CDATA[
	var app = angular.module('app', [ 'ngAnimate', 'ngTouch', 'ui.grid',
			'ui.grid.pagination', 'ui.grid.resizeColumns',
			'ui.grid.moveColumns', 'ui.grid.selection' ]);

	app.controller('MainCtrl', [
			'$scope',
			'$http',
			'$interval',
			'uiGridConstants',
			function($scope, $http, $interval) {

				$scope.gridOptions1 = {
					enableSorting : true,
					enableFiltering : true,
					enableRowSelection : true,
					enableSelectAll : true,
					selectedItems : $scope.mySelections,
					enablePaginationControls : true,
				    paginationPageSize: 25,
				    paginationPageSizes: [10, 25, 50, 100],
					treeRowHeaderAlwaysVisible : false,
					columnDefs : [ {
						field : 'userId',
						width : 120,
						displayName : 'User ID'
					}, {
						field : 'firstName',
						width : 120,
						displayName : 'First Name'
					}, {
						field : 'lastName',
						width : 120,
						displayName : 'Last Name'
					}, {
						field : 'doc',
						width : 120,
						displayName : 'DOC'
					} ],
					onRegisterApi : function(gridApi) {
						$scope.grid1Api = gridApi;
					}
				};
				$scope.gridOptions1.multiSelect = true;
				$scope.gridOptions1.data = results;

				$scope.selectAll = function() {
					$scope.gridApi.selection.selectAllRows();
				};
				$scope.gridOptions1.onRegisterApi = function(gridApi) {
					$("#spinner").hide();
		            $("#dimmer").hide();
					//set gridApi on scope
					$scope.gridApi = gridApi;
					gridApi.selection.on.rowSelectionChanged($scope, function(
							row) {
						var msg = 'row selected ' + row.entity.userId;
						console.log('SUCCESS: ', msg);
					});
				}
				$scope.getSelectedRows = function() {
					$scope.mySelectedRows = $scope.gridApi.selection.getSelectedRows();
					var usersArray = new Array($scope.mySelectedRows.length);
					if($scope.mySelectedRows.length == 0)
					{
						alert("Select at least one user to assign");
						return;
					}
					for(var i=0;i<$scope.mySelectedRows.length;i++)
					{
						usersArray[i] = $scope.mySelectedRows[i].userId;
					}
					document.getElementById("selectedUsers").value = usersArray;
					document.getElementById("actionType").value = "selected";
					$('#userForm').attr('action', '/finduser');
					$("#userForm").submit();
					
				};

				$scope.clearAll = function() {
					$scope.gridApi.selection.clearSelectedRows();
				};
			} ]);
	/*]]>*/
</script>
<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 800px;
	height: 400px
}
</style>

</head>
<body th:attr="ng-init='searchresults=\'' + ${searchresults} +'\''">

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-lock"></i> Assign User
						</h3>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2>
									<i class="fa fa-list-alt red"></i><strong>Assign User</strong>
								</h2>
							</div>
							<div th:if="${error != null}">
								<div class="alert alert-error">
									<a class="close" data-dismiss="alert">×</a> <label
										for="${error}" th:text="${error}"></label>
								</div>
							</div>
							<div th:if="${error == null}">
								<!--panel-body start-->
								<div class="panel-body">
									<div class="form-group">
										<div class="col-md-12 form-group">
											<form class="form-horizontal" id="userForm"
												th:object="${hpcWebUser}" th:action="@{/finduser}"
												method="POST">
												<div class="panel panel-default">
													<div class="panel-body">
														<table>
															<tr>
																<td>
																	<div class="pull-left" id="message"
																		style="display: none; float: left">
																		<p>&nbsp;</p>
																	</div>
																	<div class="pull-left" id="wait"
																		style="display: none; float: left">
																		<p>&nbsp;</p>
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	<div class="form-group">
																		<div class="col-sm-12 column">
																			<label for="userId">User ID:</label> <input
																				type="text" class="form-control"
																				th:field="*{nciUserId}" placeholder="Enter User ID" />
																		</div>
																		<div class="col-sm-12 column">
																			<label for="firstName">First Name:</label> <input
																				type="text" class="form-control"
																				th:field="*{firstName}"
																				placeholder="Enter First Name" size="40" />
																		</div>
																		<div class="col-sm-12 column">
																			<label for="lastName">Last Name:</label> <input
																				type="text" class="form-control"
																				th:field="*{lastName}" placeholder="Enter Last Name"
																				size="40" />
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="submit" class="btn btn-md btn-primary"
																			id="primaryButton" onClick="prepareAndSubmit()">Search</button>
																		<button type="cancel" class="btn btn-md btn-primary"
																			id="cancelButton" onclick="cancel()">Cancel</button>
																		<input type="hidden" th:field="*{path}" th:value="${hpcWebUser.getPath()}"/>
																		<input type="hidden" th:field="*{type}" th:value="${hpcWebUser.getType()}"/>
																		<input type="hidden" th:field="*{source}" th:value="${hpcWebUser.getSource()}"/>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</div>
												<input type="hidden" id="actionType" name="actionType" value=""/>
												<input type="hidden" id="selectedUsers" name="selectedUsers" value=""/>
											</form>
										</div>
										<div ng-controller="MainCtrl">
										<button type="button" class="btn btn-info"
											ng-click="getSelectedRows()">Assign</button>
										<button type="button" class="btn btn-info"
											ng-click="clearAll()">Clear All</button>
											<div id="grid1" ui-grid="gridOptions1"
												ui-grid-pagination="true" ui-grid-resize-columns="true"
												ui-grid-selection="true" ui-grid-move-columns="true"></div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!--/col-->

					</div>
				</div>
				<div class="row"></div>
			</section>
		</section>
		<!--main content end-->
		<div id="spinner" class="spinner">
			<img id="img-spinner" th:src="@{/img/spinner.gif}" alt="Loading" />
		</div>
		<div id="dimmer"></div>
		<div th:include="footer :: footer"></div>
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		$(document).ready(function(){
			$('#sub-menu-admin').addClass("active");
		});
		$("#spinner").show();
	    $("#dimmer").show();
		function prepareAndSubmit()
		{
			$("#spinner").show();
            $("#dimmer").show();
			document.getElementById("actionType").value = "search";
		}
		
		function cancel() {
			document.getElementById("actionType").value = "cancel";
			$('#userForm').attr('action', '/finduser');
			$("#userForm").submit();
		}
		/*]]>*/
	</script>

</body>
</html>
