<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="header">
		<!-- container section start -->
		<header class="header" style="background-color: #2a72a5;">
			<!--logo start-->
			<div class="col order-first" style="background-color: #fff;">
				<a href="#" aria-label="image link"> <img
					src="/img/nci_logo.png" class="logoImg"
					alt="National Cancer Institute"/></a>
			</div>
			<nav class="navbar navbar-default" id="appnavbar">
			  <div id="toolTitle" class="container-fluid">
				<div class="navbar-header">
				  Data Management Environment
				</div>
				<div id="appNav" class="col-sm-6 col-md-7 col-lg-5 pull-right collapse navbar-collapse">
				<ul class="nav navbar-nav top-menu top-nav">
					<li class="nav-item versionNumber"><a href="">
						<span th:if="${session.env == 'Local' or session.env == 'DEV' or session.env == 'UAT'}" th:text="'version: '+${session.version}+' ('+${session.env}+')'"></span>
						<span th:if="${session.env == 'PROD'}" th:text="'version: '+${session.version}"></span>
						</a></li>
				</ul>
				</div>
			</div>
			</nav>
			<!--logo end-->
		</header>
		<!--header end-->
	</div>
</body>
</html>