<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="header">
		<!-- container section start -->
		<header class="header" style="background-color: #2a72a5;">
			<!--logo start-->
			<div class="col order-first" style="background-color: #fff;">
				<a href="#" aria-label="image link"> <img
					src="/img/nci_logo.png" class="logoImg"
					alt="National Cancer Institute"/></a>
			</div>
			<nav class="navbar navbar-default" id="appnavbar">
			  <div id="toolTitle" class="container-fluid">
				<div class="navbar-header">
				  Data Management Environment
				</div>
				<div id="appNav" class="col-sm-6 col-md-7 col-lg-5 pull-right collapse navbar-collapse">
				<ul class="nav navbar-nav top-menu top-nav">
					<!--Users Guide-->
					<li class="nav-item" role="tab"><a data-toggle="dropdown"
					class="dropdown-toggle" href="#"><i class="icon_book_alt"></i><span
						class="topNav-item">Help</span></a>
					<ul class="dropdown-menu extended logout">
						<div class="log-arrow-up"></div>
						<li><a href="https://github.com/CBIIT/HPC_DME_APIs/blob/master/doc/guides/HPC_API_Specification.docx" target="_blank"><i class="icon_key_alt"></i> API Documentation</a></li>
						<li class="eborder-top"><a href="https://wiki.nci.nih.gov/display/DMEdoc" target="_blank"><i class="icon_book_alt"></i> User Guide</a></li>
						<li class="eborder-top"><a href="https://wiki.nci.nih.gov/display/DMEdoc/Frequently+Asked+Questions" target="_blank"><i class="icon_book_alt"></i> Frequently Asked Questions</a></li>
						<li><a href="https://github.com/CBIIT/HPC_DME_APIs" target="_blank"><i class="icon_key_alt"></i> DME Site on GitHub</a></li>
					</ul></li>
					<li class="nav-item versionNumber"><a href="">
						<span th:if="${session.env == 'Local' or session.env == 'DEV' or session.env == 'UAT'}" th:text="'version: '+${session.version}+' ('+${session.env}+')'"></span>
						<span th:if="${session.env == 'PROD'}" th:text="'version: '+${session.version}"></span>
						</a></li>
				</ul>
				</div>
			</div>
			</nav>
			<!--logo end-->
		</header>
		<!--header end-->
	</div>
</body>
</html>