<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>NCI Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script
	src="js/angular/1.5.0/angular.js"></script>
<script
	src="js/angular/1.5.0/angular-touch.js"></script>
<script
	src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var results = "[[${searchresults}]]";
	var type = "[[${session.hpcUser.userRole}]]";
	/*]]>*/
</script>

<script>
//<![CDATA[
	var app = angular.module('app', ['ngAnimate', 'ngTouch', 'ui.grid', 'ui.grid.grouping', 'ui.grid.pagination', 'ui.grid.resizeColumns', 'ui.grid.moveColumns']);
	app.controller('MainCtrl', ['$scope', '$http', '$interval', 'uiGridGroupingConstants', function ($scope, $http, $interval, uiGridGroupingConstants ) {
				$scope.gridOptions1 = {
				    enableSorting: true,
				    enableFiltering: true,
				    enablePaginationControls : true,
				    paginationPageSize: 25,
				    paginationPageSizes: [10, 25, 50, 100],
				    treeRowHeaderAlwaysVisible: false,
					columnDefs : [ {
						field : 'userId',
						width : 120,
						displayName : 'User ID'
					}, {
						field : 'firstName',
						width : 120,
						displayName : 'First Name'
					}, {
						field : 'lastName',
						width : 120,
						displayName : 'Last Name'
					}, {
						field : 'doc',
						width : 120,
						displayName : 'DOC'
					}, {
						field : 'userId',
						width : 120,
						displayName : 'Edit',
						cellTemplate : '<div class="ui-grid-cell-contents"><a data-toggle="modal" id="editlink" class="btn btn-link btn-sm" href="../updateuser?userId={{COL_FIELD CUSTOM_FILTERS}}" data-target="#edituserModal">Edit &nbsp;<i class="fa fa-address-card" aria-hidden="true"></i></a></div>'
					}],
					onRegisterApi : function(gridApi) {
						$scope.grid1Api = gridApi;
						if (type != "'SYSTEM_ADMIN'")
					        $scope.gridOptions1.columnDefs[4].visible = false;
						$("#spinner").hide();
			            $("#dimmer").hide();
					}
				};
				$scope.gridOptions1.data = results;

			} ]);
	/*]]>*/
</script>
<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 800px;
	height: 400px
}
</style>

</head>
<body th:attr="ng-init='searchresults=\'' + ${searchresults} +'\''">

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-lock"></i> Admin
						</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-dashboard"></i><a
								th:href="@{/dashboard}">Dashboard</a></li>
							<li><i class="fa fa-list-alt"></i>Admin</li>
							<li><i class="fa fa-list-alt"></i>User</li>
						</ol>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="col-md-3">
								<h2 align="left">
									<i class="fa fa-list-alt red"></i><strong>Manage User</strong>
								</h2>
								</div>
								<div class="col-md-3 col-md-offset-6">
								<h2>
									<strong> <a data-toggle="modal" id="createuserlink" class="btn btn-link btn-sm" th:href="@{/createuser}" data-target="#createuserModal">Create User &nbsp;<i class="fa fa-user" aria-hidden="true"></i></a></strong>
								</h2>
								</div>
							</div>
							<div th:if="${error != null}">
								<div class="alert alert-danger">
									<a class="close" data-dismiss="alert">×</a> <label
										for="${error}" th:text="${error}"></label>
								</div>
							</div>
								<div class="modal fade" id="createuserModal" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>								
								<div class="modal fade" id="edituserModal" tabindex="-1" role="dialog"
									aria-labelledby="editModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>								
							<div>
								<!--panel-body start-->
								<div class="panel-body">
									<div class="form-group">
										<div class="col-md-12 form-group">
											<form class="form-horizontal" id="userForm"
												th:object="${hpcWebUser}" th:action="@{/user}"
												method="POST">
												<div class="panel panel-default">
													<div class="panel-body">
														<table>
															<tr>
																<td>
																	<div class="pull-left" id="message"
																		style="display: none; float: left">
																		<p>&nbsp;</p>
																	</div>
																	<div class="pull-left" id="wait"
																		style="display: none; float: left">
																		<p>&nbsp;</p>
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	<div class="form-group">
																		<div class="col-sm-12 column">
																			<label for="userId">User ID:</label> <input
																				type="text" class="form-control"
																				th:field="*{nciUserId}" placeholder="Enter User ID" />
																		</div>
																		<div class="col-sm-12 column">
																			<label for="firstName">First Name:</label> <input
																				type="text" class="form-control"
																				th:field="*{firstName}"
																				placeholder="Enter First Name" size="40" />
																		</div>
																		<div class="col-sm-12 column">
																			<label for="lastName">Last Name:</label> <input
																				type="text" class="form-control"
																				th:field="*{lastName}" placeholder="Enter Last Name"
																				size="40" />
																		</div>
																		<div class="col-sm-12 column">
																			<label for="doc">DOC:</label> 
																			<select size="1"
																			id="doc" name="doc" class="form-control">									
																			<option  value=""></option>
																			<option
																				th:each="attrName : ${docs}"
																				th:value="${attrName}" th:text="${attrName}" th:selected="${attrName} == *{doc}">
																				Wireframe</option>
																			</select>																			
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="submit" class="btn btn-md btn-primary"
																			id="primaryButton" onClick="prepareAndSubmit()">Search</button>
																		<button type="button" class="btn btn-md btn-primary"
																			id="cancelButton" onClick="clearForm()">Clear</button>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</div>
												<input type="hidden" id="actionType" name="actionType" value=""/>
												<input type="hidden" id="selectedUsers" name="selectedUsers" value=""/>
											</form>
										</div>
										<div ng-controller="MainCtrl">
											<div id="grid1" ui-grid="gridOptions1"
												ui-grid-pagination="true" ui-grid-resize-columns="true"
												ui-grid-selection="true" ui-grid-move-columns="true"></div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!--/col-->

					</div>
				</div>
				<div class="row"></div>
			</section>
		</section>
		<!--main content end-->
		<div id="spinner" class="spinner">
			<img id="img-spinner" th:src="@{/img/spinner.gif}" alt="Loading" />
		</div>
		<div id="dimmer"></div>
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>

	<script type="text/javascript">
		//<![CDATA[
		$("#spinner").show();
	    $("#dimmer").show();
			            
		function prepareAndSubmit()
		{
			$("#spinner").show();
            $("#dimmer").show();
			document.getElementById("actionType").value = "search";
		}
		
		function clearForm()
		{
			$("#nciUserId").val('');
			$("#firstName").val('');
			$("#lastName").val('');
			$("#doc").val('');
		}
		
		/*]]>*/
	</script>

</body>
</html>
