<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>NCI Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<link href="css/select2-4.0.11.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script
	src="js/angular/1.5.0/angular.js"></script>
<script
	src="js/angular/1.5.0/angular-touch.js"></script>
<script
	src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script
	src="js/select2-4.0.11.min.js"></script>

<style>
/*style.css*/
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.select2-container .select2-selection.select2-selection--multiple .select2-search.select2-search--inline .select2-search__field:not([placeholder='']) { width: 100% !important; margin-right: 100000px; }
</style>
<script th:inline="javascript">
/*<![CDATA[*/
    var assignedNames = [[${names}]];
    var searchType = [[${hpcSearch.getSearchType()}]];
/*]]>*/
</script>
</head>
<body ng-controller="MyCtrl">

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-dashboard"></i> Bulk Permissions
						</h3>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2>
									<i class="fa fa-list-alt red"></i><strong>Manage Bulk
										Permissions</strong>
								</h2>
							</div>
							<div th:if="${updateStatus != null}">
								<div class="alert alert-error">
									<a class="close" data-dismiss="alert">×</a> <label
										for="${updateStatus}" th:text="${updateStatus}"></label>
								</div>
							</div>

							<div th:if="${error == null}">
								<!--panel-body start-->
								<div class="panel-body">
									<div class="form-group">
										<div class="col-md-12 form-group">
											<form class="form-horizontal" id="permissionsform" action="#"
												role="form" th:action="@{/assignbulkpermissions}"
												th:object="${permissions}" method="POST"
												enctype="multipart/form-data">
												<input type="hidden" th:field="*{type}" />
												<input type="hidden" name="downloadType" id="downloadType"
													th:value="${hpcDownloadDatafile.downloadType}" />
												<input type="hidden" name="selectedFilePaths" id="selectedFilePaths"
													th:value="${hpcDownloadDatafile.getSelectedPaths()}" />
												<div class="form-group" th:if="${downloadType == 'datafiles'}">
												  <p>This page allows you to add or modify the user permissions for the selected data files.</p>
												</div>
												<div class="form-group" th:if="${downloadType == 'collections'}">
												  <p>This page allows you to add or modify the user permissions for the selected collections.</p>
												</div>
												<div class="form-group" th:if="${bulkResults != null and !bulkResults.empty}">
													<label for="Name">Results:</label> 
													<table class="table table-bordered table-hover"
														id="resultsTable" style="table-layout: fixed; word-wrap: break-word;">
														<thead>
															<tr>
																<th class="text-center" style="width:75%">Path</th>
																<th class="text-center" style="width:10%">Result</th>
																<th class="text-center">Error</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="result: ${bulkResults}">
																<td th:text="${result.path}" />
																<td th:text="${result.status}" />
																<td th:text="${result.error}" />
															</tr>
														</tbody>
													</table>
												</div>
												<div class="form-group" style="word-break: break-all;">
													<label for="Name">Path:</label> 
													<div class="display: block;" th:each="selectedPath : ${hpcDownloadDatafile.getSelectedPaths()}">
														<label th:text="${selectedPath}"></label> 
													</div>
												</div>
												<div class="form-group">
													<table class="table table-bordered table-hover" 
														th:classappend="${permissions.getEntries().isEmpty()} ? hidden : ''"
														id="permissionsTable">
														<thead>
															<tr>
																<th class="text-center">Name</th>
																<th class="text-center">Type</th>
																<th class="text-center">Own</th>
																<th class="text-center">Write</th>
																<th class="text-center">Read</th>
																<th class="text-center">None</th>
																<th class="text-center"></th>
															</tr>
														</thead>
														<tbody>
															<tr id='permissionRow0'
																th:each="permission, iterationStatus : ${permissions.getEntries()}"
																th:with="index=0">
																<td style="white-space: nowrap" align="center"><label
																	th:for="'permissionName'+${iterationStatus.index}"
																	th:text="${permission.getName()}"></label> <input
																	type="hidden"
																	th:id="'permissionName'+${iterationStatus.index}"
																	th:name="'permissionName'+${iterationStatus.index}"
																	th:value="${permission.getName()}" /></td>
																<td style="white-space: nowrap" align="center"><label
																	th:for="'permissionType'+${iterationStatus.index}"
																	th:text="${#strings.capitalize(#strings.toLowerCase(permission.getType().value()))}"></label> <input
																	type="hidden"
																	th:id="'permissionType'+${iterationStatus.index}"
																	th:name="'permissionType'+${iterationStatus.index}"
																	th:value="${permission.getType().value()}" /></td>
																<td style="white-space: nowrap" align="center">
																	<div th:if="${permission.isOwn()} == false">
																		<input type="radio"
																			th:id="'permission_own'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="own" disabled="disabled"/>
																	</div>
																	<div th:if="${permission.isOwn()} == true">
																		<input type="radio" checked="checked"
																			th:id="'permission_own'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="own" disabled="disabled" />
																	</div>
																</td>
																<td style="white-space: nowrap" align="center">
																	<div th:if="${permission.isWrite()} == false">
																		<input type="radio"
																			th:id="'permission_write'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="write" disabled="disabled" />
																	</div>
																	<div th:if="${permission.isWrite()} == true">
																		<input type="radio" checked="checked"
																			th:id="'permission_write'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="write" disabled="disabled" />
																	</div>
																</td>
																<td style="white-space: nowrap" align="center">
																	<div th:if="${permission.isRead()} == false">
																		<input type="radio"
																			th:id="'permission_read'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="read" disabled="disabled" />
																	</div>
																	<div th:if="${permission.isRead()} == true">
																		<input type="radio" checked="checked"
																			th:id="'permission_read'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="read" disabled="disabled" />
																	</div>
																</td>
																<td style="white-space: nowrap" align="center">
																	<div th:if="${permission.isRead() or permission.isWrite() or permission.isOwn()}">
																		<input type="radio"
																			th:id="'permission_none'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="none" disabled="disabled" />
																	</div>
																	<div th:if="${!permission.isRead() and !permission.isWrite() and !permission.isOwn()}">
																		<input type="radio" checked="checked"
																			th:id="'permission_none'+${iterationStatus.index}"
																			th:name="'permission'+${iterationStatus.index}"
																			value="none" disabled="disabled" />
																	</div>
																</td>
																<td style="white-space: nowrap" align="center">
																		<i class="fa fa-trash-o" aria-hidden="true" th:onclick="'deleteUser(\''+${permission.getName()}+'\')'"></i>
																</td>
															</tr>
														</tbody>
													</table>
													<div class="col-sm-offset-2 col-sm-10" align="right" th:if="${ownpermission == true}" >
													  <div class="row">
													  	<button type="button" class="btn btn-primary"
															onClick="goBack()" id="close">Back</button>
													  	<button type="button" class="btn btn-md btn-primary" th:if="${bulkResults == null or bulkResults.empty}"
															id="primaryButton" onClick="updatePermission()" disabled="disabled">Save</button>
													
														<button type="button" class="btn btn-md btn-primary" th:if="${bulkResults == null or bulkResults.empty}"
															id="addUserButton" data-toggle="modal" data-target="#addUserModal">Add or Edit Permission</button>
													  </div>
													</div>
												</div>

												<div class="modal fade" id="addUserModal" tabindex="-1"
													role="dialog" aria-labelledby="addUserModalLabel"
													aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<!-- /.modal-content -->
															<div class="modal-header">
																<button id="addUserButton" type="button" class="close" data-dismiss="modal">&times;</button>
																<h4 class="modal-title">Add Permission</h4>
															</div>
															<div class="modal-body">
																<div class="panel panel-default">
																	<div class="panel-body">
																		<div class="form-group">
																			<div id='entryTableRow0' class="col-sm-12 column">
																				<label for="Share With">Share With:</label>
																				<div>
																					<input type="radio" name="shareWithType"
																						id="shareWithTypeName" value="user"
																						checked="checked" onClick="enableUserGroup(this)" />User&nbsp;&nbsp;&nbsp;

																					<input type="radio" name="shareWithType"
																						id="shareWithTypeGroup" value="group"
																						onClick="enableUserGroup(this)" />Group
																				</div>
																			</div>
																			<div id='entryTableRow1' class="col-sm-12 column">
																				<label for="Share With">User:</label> <select
																					id="userName" class="simple-select2 sl"
																					multiple="multiple" style="width: 100%">
																				</select>
																			</div>
																			<div id='entryTableRow2' class="col-sm-12 column"
																				style="display: none">
																				<label for="Share With">Group:</label> <select
																					id="groupName" class="simple-select2 sl"
																					multiple="multiple" style="width: 100%">
																				</select>
																			</div>
																			<div id='entryTableRow3' class="col-sm-12 column">
																				<label for="Share With">Permissions:</label> <input
																					type="radio" name="addpermission"
																					id="addpermission_own" value="addown" />&nbsp;Own&nbsp;&nbsp;&nbsp;
																				<input type="radio" name="addpermission"
																					id="addpermission_write" value="addwrite" />&nbsp;Write&nbsp;&nbsp;&nbsp;<input
																					type="radio" name="addpermission"
																					id="addpermission_read" value="addread" />&nbsp;Read&nbsp;&nbsp;&nbsp;
																			</div>
																			<div id='entryTableRow4' align="right"
																				class="col-sm-12 column">
																				<a id="addPermissionButton"
																					class="btn btn-md btn-primary"
																					onClick="addPermission()">Add</a>
																				<button type="button"
																					class="btn btn-md btn-secondary"
																					data-dismiss="modal">Cancel</button>
																			</div>
																		</div>
																	</div>
																	<!-- /.panel-body -->
																</div>
																<!-- /.panel -->
															</div>
															<!-- /.modal-body -->
														</div>
														<!-- /.modal-content -->
													</div>
													<!-- /.modal-dialog -->
												</div>
												<!-- /.modal -->
											</form>
											<form class="form-horizontal" id="criteriaForm"
												th:object="${hpcSearch}" method="POST" th:action="@{/criteria}">
												<input type="hidden" name="actionType" id="actionTypeId" value="pagination"/>
												<input type="hidden"
													class="form-control" name="pageNumber" id="pageNumberId"
													 th:value="${hpcSearch.getPageNumber()}"/>
												<input type="hidden"
													class="form-control" name="pageSize" id="pageSizeId"
													 th:value="${hpcSearch.getPageSize()}"/>			
											</form>
											<form class="form-horizontal" id="searchForm"
												th:object="${hpcSearch}" method="POST" th:action="@{/search}">
												<input type="hidden" name="queryName" id="queryName"
													th:value="${hpcSearch.getQueryName()}" /> <input type="hidden"
													class="form-control" name="pageNumber" id="pageNumber"
													 th:value="${hpcSearch.getPageNumber()}"/> <input type="hidden"
													class="form-control" name="pageSize" id="pageSize"
													 th:value="${hpcSearch.getPageSize()}"/>
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!--/col-->

					</div>
				</div>
				<div class="row"></div>
			</section>
			<div th:include="footer :: footer"></div>
		</section>
		<!--main content end-->
		<div id="spinner" style="display:none" class="spinner">
			<img id="img-spinner" th:src="@{/img/spinner.gif}" alt="Loading" />
		</div>
		<div id="dimmer" style="display:none" ></div>
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>

	<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function(){
			$('#sub-menu-search').addClass("active");
		});
		
		$(function() {
			$('#userName').select2({
		        //theme: bootstrap,
		        allowClear: true,
		        minimumInputLength: 2,
		        dataType: 'json',
		        dropdownPosition: 'below',
		        dropdownParent: $("#addUserModal"),
		        closeOnSelect: true,
		        placeholder: "Enter Last Name, First Name, or User ID",
		        language: {
		            inputTooShort: function () {
		                return '';
		            }
		        },
		        ajax: {
		            url: "/permissions/users",
		            delay: 500,
		            type: "post",
		            data: function (params) {
		                return {
		                    'term': params.term
		                    // search term
		                };
		            },
		            processResults: function (data) {
		                return {
		                    //results : data.result
		                    results: $.map(data, function (pn) {
		                        return {
		                            text: pn.label,
		                            id: pn.value
		                        }
		                    })
		                };
		            }
		        },
		    });
		    
		    $('#groupName').select2({
		        //theme: bootstrap,
		        allowClear: true,
		        minimumInputLength: 2,
		        dataType: 'json',
		        dropdownPosition: 'below',
		        dropdownParent: $("#addUserModal"),
		        closeOnSelect: true,
		        placeholder: "Enter Group Name",
		        language: {
		            inputTooShort: function () {
		                return '';
		            }
		        },
		        ajax: {
		            url: "/permissions/groups",
		            delay: 500,
		            type: "post",
		            data: function (params) {
		                return {
		                    'term': params.term
		                    // search term
		                };
		            },
		            processResults: function (data) {
		                return {
		                    //results : data.result
		                    results: $.map(data, function (pn) {
		                        return {
		                            text: pn.label,
		                            id: pn.value
		                        }
		                    })
		                };
		            }
		        },
		    });
			$('#addUserButton').on('click', function(){
				userRadio = $('#shareWithTypeName');
				enableUserGroup(userRadio);
			});
		});
				
		function enableSave() {
			$('#primaryButton').removeClass('disabled');
			$('#primaryButton').prop('disabled', false);
			$('#permissionsTable input:radio').prop('disabled', false);
			$('#permissionsTable').removeClass("hidden");
		}

		function updatePermission()
	    {
	    	if (confirm("Are you sure you want to apply these permissions?") == true) {
				$("#permissionsform").submit();
	    	}
	    }
		
		function deleteUser(username)
		{
			var td = event.target.parentNode; 
		    var tr = td.parentNode; // the row to be removed
		    tr.parentNode.removeChild(tr);
		    var index = assignedNames.indexOf(username);
		    if (index > -1) {
		    	assignedNames.splice(index, 1);
		    }
		    index = groupNames.indexOf(username);
		    if (index > -1) {
		    	groupNames.splice(index, 1);
		    }
		}
		
		function goBack()
		{
			if(searchType == "search")
				document.getElementById("searchForm").submit();
			else
				document.getElementById("criteriaForm").submit();
		}
		
		function enableUserGroup(selection) {

			var groupRow = document.getElementById("entryTableRow2");
			var userRow = document.getElementById("entryTableRow1");

			if (selection.value == "group") {
				groupRow.style.display = '';
				userRow.style.display = 'none';
			} else {
				userRow.style.display = '';
				groupRow.style.display = 'none';
			}
			var userName = document.getElementById("userName");
			var groupName = document.getElementById("groupName");
			var addpermissionOwn = document.getElementById("addpermission_own");
			var addpermissionRead = document.getElementById("addpermission_read");
			var addpermissionWrite = document.getElementById("addpermission_write");
			userName.value ='';
			groupName.value ='';
			addpermissionOwn.checked = false;
			addpermissionRead.checked = false;
			addpermissionWrite.checked = false;
			$('#userName').val(null).trigger('change');
			$('#groupName').val(null).trigger('change');
		}

		function addPermission() {
			var groupNames = [];
			var userNames = [];
			var table = document.getElementById("permissionsTable");
			var rows = table.getElementsByTagName("tbody")[0]
					.getElementsByTagName("tr").length;
			var shareWithName = document.getElementById("shareWithTypeName");
			var shareWithGroup = document.getElementById("shareWithTypeGroup");
			var userName = document.getElementById("userName");
			if(userName != null && userName != "") {
				for(var i=0;i<userName.length;i++)
				{
					if(userName[i].selected)
						userNames.push(userName[i].value);
				}
			}
			var groupName = document.getElementById("groupName");
			if(groupName != null && groupName != "") {
				for(var i=0;i<groupName.length;i++)
				{
					if(groupName[i].selected)
						groupNames.push(groupName[i].value);
				}
			}
			var addpermissionOwn = document.getElementById("addpermission_own");
			var addpermissionRead = document.getElementById("addpermission_read");
			var addpermissionWrite = document.getElementById("addpermission_write");
			
			if (assignedNames) {
				for(i = 0; i < assignedNames.length; i++)
				{
					for(var j=0;j<userNames.length;j++)
					{
						if(userNames[j] == assignedNames[i])
						{
							alert("Duplicate Entry!");
							return false;
						}
					}
					for(var j=0;j<groupNames.length;j++)
					{
						if(groupNames[j] == assignedNames[i])
						{
							alert("Duplicate Entry!");
							return false;
						}
					}
				}
			}
			
			if((userName.value == null || userName.value == "" || userNames.length == 0) && (groupName.value == null || groupName.value == "" || groupNames.length == 0))
			{
				alert("Invalid entry. User/Group name is missing");
				return false;
			}
			
			if(addpermissionOwn.checked == false && addpermissionRead.checked == false && addpermissionWrite.checked == false)
			{
				alert("Select a permission")
				return false;
			}
			
			for(var i=0;i<userNames.length;i++)
			{
				if(userNames[i] == "")
					continue;

				rows = table.getElementsByTagName("tbody")[0]
					.getElementsByTagName("tr").length;
				var row = table.getElementsByTagName("tbody")[0].insertRow(rows);
				row.id = "permissionRow" + (rows);
				var cell0 = row.insertCell(0);
				var cell1 = row.insertCell(1);
				var cell2 = row.insertCell(2);
				var cell3 = row.insertCell(3);
				var cell4 = row.insertCell(4);
				var cell5 = row.insertCell(5);
				var cell6 = row.insertCell(6);
				cell0.align="center";
				cell1.align="center";
				cell2.align="center";
				cell3.align="center";
				cell4.align="center";
				cell5.align="center";
				cell6.align="center";
				
				if (shareWithName.checked == true) {
					cell0.innerHTML = '<label id="permissionName' + (rows)
							+ '">' + (userNames[i]) + '</label>'
							+ '<input type="hidden" name="permissionName'
							+ (rows) + '" id="permissionName'
							+ (rows) + '" value="' + (userNames[i]) + '" />';
					cell1.innerHTML = '<label id="permissionType' + (rows)
							+ '">USER</label>'
							+ '<input type="hidden" name="permissionType'
							+ (rows) + '" id="permissionType'
							+ (rows) + '" value="USER" />';
					if(assignedNames)
						assignedNames.push(userNames[i]);
					else
						assignedNames = [userNames[i]];
				} 
	
				if (addpermissionOwn.checked == true)
				{
					cell2.innerHTML = '<input type="radio" id="permission_own' + (rows)
							+ '" name="permission' + (rows) + '" value="own" checked="checked" />';
					cell3.innerHTML = '<input type="radio" id="permission_write'
						+ (rows) + '" name="permission' + (rows) + '" value="write" />';
					cell4.innerHTML = '<input type="radio" id="permission_read'
						+ (rows) + '" name="permission' + (rows) + '" value="read" />';
					cell5.innerHTML = '<input type="radio" id="permission_none'
						+ (rows) + '" name="permission' + (rows) + '" value="none" />';
					cell6.innerHTML = '<i class="fa fa-trash-o" aria-hidden="true" onClick="deleteUser(\'' + userNames[i] + '\')"></i>';
				}
				else if (addpermissionWrite.checked == true)
				{
					cell2.innerHTML = '<input type="radio" id="permission_own' + (rows)
					+ '" name="permission' + (rows) + '" value="own" />';
					cell3.innerHTML = '<input type="radio" id="permission_write'
						+ (rows) + '" name="permission' + (rows)
						+ '" value="write" checked="checked" />';
					cell4.innerHTML = '<input type="radio" id="permission_read'
						+ (rows) + '" name="permission' + (rows) + '" value="read" />';
					cell5.innerHTML = '<input type="radio" id="permission_none'
						+ (rows) + '" name="permission' + (rows) + '" value="none" />';
					cell6.innerHTML = '<i class="fa fa-trash-o" aria-hidden="true" onClick="deleteUser(\'' + userNames[i] + '\')"></i>';
				}
				else if (addpermissionRead.checked == true)
				{
					cell2.innerHTML = '<input type="radio" id="permission_own' + (rows)
						+ '" name="permission' + (rows) + '" value="own" />';
					cell3.innerHTML = '<input type="radio" id="permission_write'
						+ (rows) + '" name="permission' + (rows) + '" value="write" />';
					cell4.innerHTML = '<input type="radio" id="permission_read'
						+ (rows) + '" name="permission' + (rows)
						+ '" value="read" checked="checked" />';
					cell5.innerHTML = '<input type="radio" id="permission_none'
						+ (rows) + '" name="permission' + (rows) + '" value="none" />';
					cell6.innerHTML = '<i class="fa fa-trash-o" aria-hidden="true" onClick="deleteUser(\'' + userNames[i] + '\')"></i>';
				}
	
			}
			for(var i=0;i<groupNames.length;i++)
			{
				if(groupNames[i] == "")
					continue;
				rows = table.getElementsByTagName("tbody")[0]
					.getElementsByTagName("tr").length;
				var row = table.getElementsByTagName("tbody")[0].insertRow(rows);
				row.id = "permissionRow" + (rows);
				var cell0 = row.insertCell(0);
				var cell1 = row.insertCell(1);
				var cell2 = row.insertCell(2);
				var cell3 = row.insertCell(3);
				var cell4 = row.insertCell(4);
				var cell5 = row.insertCell(5);
				var cell6 = row.insertCell(6);
				cell0.align="center";
				cell1.align="center";
				cell2.align="center";
				cell3.align="center";
				cell4.align="center";
				cell5.align="center";
				cell6.align="center";
				
				if (shareWithGroup.checked == true) {
					cell0.innerHTML = '<label id="permissionName' + (rows)
							+ '">' + (groupNames[i]) + '</label>'
							+ '<input type="hidden" name="permissionName'
							+ (rows) + '" id="permissionName'
							+ (rows) + '" value="' + (groupNames[i]) + '" />';
					cell1.innerHTML = '<label id="permissionType' + (rows)
							+ '">GROUP</label>'
							+ '<input type="hidden" name="permissionType'
							+ (rows) + '" id="permissionType'
							+ (rows) + '" value="GROUP" />';
					if(assignedNames)
						assignedNames.push(groupNames[i]);
					else
						assignedNames = [groupNames[i]];
					
				} 
	
				if (addpermissionOwn.checked == true)
				{
					cell2.innerHTML = '<input type="radio" id="permission_own' + (rows)
							+ '" name="permission' + (rows) + '" value="own" checked="checked" />';
					cell3.innerHTML = '<input type="radio" id="permission_write'
						+ (rows) + '" name="permission' + (rows) + '" value="write" />';
					cell4.innerHTML = '<input type="radio" id="permission_read'
						+ (rows) + '" name="permission' + (rows) + '" value="read" />';
					cell5.innerHTML = '<input type="radio" id="permission_none'
						+ (rows) + '" name="permission' + (rows) + '" value="none" />';
					cell6.innerHTML = '<i class="fa fa-trash-o" aria-hidden="true" onClick="deleteUser(\'' + groupNames[i] + '\')"></i>';
				}
				else if (addpermissionWrite.checked == true)
				{
					cell2.innerHTML = '<input type="radio" id="permission_own' + (rows)
					+ '" name="permission' + (rows) + '" value="own" />';
					cell3.innerHTML = '<input type="radio" id="permission_write'
						+ (rows) + '" name="permission' + (rows)
						+ '" value="write" checked="checked" />';
					cell4.innerHTML = '<input type="radio" id="permission_read'
						+ (rows) + '" name="permission' + (rows) + '" value="read" />';
					cell5.innerHTML = '<input type="radio" id="permission_none'
						+ (rows) + '" name="permission' + (rows) + '" value="none" />';
					cell6.innerHTML = '<i class="fa fa-trash-o" aria-hidden="true" onClick="deleteUser(\'' + groupNames[i] + '\')"></i>';
				}
				else if (addpermissionRead.checked == true)
				{
					cell2.innerHTML = '<input type="radio" id="permission_own' + (rows)
						+ '" name="permission' + (rows) + '" value="own" />';
					cell3.innerHTML = '<input type="radio" id="permission_write'
						+ (rows) + '" name="permission' + (rows) + '" value="write" />';
					cell4.innerHTML = '<input type="radio" id="permission_read'
						+ (rows) + '" name="permission' + (rows)
						+ '" value="read" checked="checked" />';
					cell5.innerHTML = '<input type="radio" id="permission_none'
						+ (rows) + '" name="permission' + (rows) + '" value="none" />';
					cell6.innerHTML = '<i class="fa fa-trash-o" aria-hidden="true" onClick="deleteUser(\'' + groupNames[i] + '\')"></i>';
				}
	
			}			

			$('#permissionsTable input:radio').prop('disabled', false);
			$('#addUserModal').modal('toggle');
			enableSave();
		}
		/*]]>*/
	</script>

</body>
</html>
