<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />

<title>NCI Data Management Environment</title>

<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!--external css-->
<link href="css/bootstrap-datepicker.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- full calendar css-->
<link href="assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css"
	rel="stylesheet" />
<link href="assets/fullcalendar/fullcalendar/fullcalendar.css"
	rel="stylesheet" />
<!-- easy pie chart-->
<link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
	rel="stylesheet" type="text/css" media="screen" />
<!-- owl carousel -->
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" />
<link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<link href="css/select2-4.0.11.min.css" rel="stylesheet" />

<link href="DataTables/DataTables-1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="js/jquery/3.1.1/jquery.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="DataTables/DataTables-1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="DataTables/Buttons-2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></script>

<script type="text/javascript" charset="utf8" src="DataTables/Buttons-2.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="DataTables/Buttons-2.2.2/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="DataTables/Buttons-2.2.2/js/buttons.colVis.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
      <script src="https://use.fontawesome.com/d8c7e3a713.js"></script>
      
    <![endif]-->
<style>
.datepicker { 
    z-index: 1002 !important;
}
legend {text-align:center}
/* Header Title */
.header1 {
  padding: 5px;
  text-align: center;
  background: #eeeeee;
  margin:10px;
  font-size:15px;
  background-color: #006DCC;
  color: white;
}
</style>
<style>
body {
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f0f0f0;
}

.dt-buttons .dt-button-collection {
  margin: 5px 0 !important;
}

.dt-button.buttons-columnVisibility {
  background-color: #CC5500;
  color: white;
}

.dt-button.buttons-columnVisibility.active {
  background-color: #002366;
  color: white;
}
.select2-container {
width: 100% !important;
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
    var selected = [[${reportRequest.getReportType()}]];
/*]]>*/
</script>
</head>

<body>
	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h4>
							<i class="fa fa-list-alt"></i> Reports
						</h4>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div th:if="${error != null}">
						<div class="alert alert-error">
							<a class="close" data-dismiss="alert">×</a> <label for="${error}"
								th:text="${error}"></label>
						</div>
					</div>
					<div th:if="${message != null}">
						<div class="alert alert-error">
							<a class="close" data-dismiss="alert">×</a> <label
								for="${message}" th:text="${message}"></label>
						</div>
					</div>
				</div>

				<form  id="reportsform" action="#"
					role="form" th:action="@{/reports}" th:object="${reportRequest}"
					method="post" enctype="multipart/form-data">
					
					<!-- First Row Begin -->
					<div class="row">
						<div class="col-6 col-md-4">
							<label><b>Report Type:</b></label>
							<select name="reportType" id="reportType" class="form-control"
								onchange="show(this.value)">
								<option value="-1">----Select----</option>

								<option value="USAGE_SUMMARY_BY_BASEPATH_BY_DATE_RANGE" th:selected="${reportRequest.getReportType() == 'USAGE_SUMMARY_BY_BASEPATH_BY_DATE_RANGE'}">Base Path Report</option>
								<option value="USAGE_SUMMARY_BY_PATH_BY_DATE_RANGE" th:selected="${reportRequest.getReportType() == 'USAGE_SUMMARY_BY_PATH_BY_DATE_RANGE'}">Collection Path Report</option>
								<option value="USAGE_SUMMARY_BY_DATA_OWNER" th:if="${canSeeAllDocs}" th:selected="${reportRequest.getReportType() == 'USAGE_SUMMARY_BY_DATA_OWNER'}">Data Owner Report</option>
								<option value="USAGE_SUMMARY_BY_DOC_BY_DATE_RANGE" th:selected="${reportRequest.getReportType() == 'USAGE_SUMMARY_BY_DOC_BY_DATE_RANGE'}">DOC Report</option>
								<option value="USAGE_SUMMARY_BY_DATE_RANGE"
									th:if="${userRole == 'SYSTEM_ADMIN'}" th:selected="${reportRequest.getReportType() == 'USAGE_SUMMARY_BY_DATE_RANGE'}">Summary Report</option>
								<option value="USAGE_SUMMARY_BY_USER_BY_DATE_RANGE" th:selected="${reportRequest.getReportType() == 'USAGE_SUMMARY_BY_USER_BY_DATE_RANGE'}">User Report</option>								
							</select>
						</div>
						
						<div style="display: none" id="docList">
							<div class="col-6 col-md-2">&nbsp;&nbsp;</div>
							<div class="col-6 col-md-4">
								<label><b>DOC:</b></label>
								<select size="1"
									id="doc" name="doc" class="form-control"
									th:required="required">
										<option value="-1">----Select----</option>
										<option value="All" th:if="${canSeeAllDocs}" th:selected="${reportRequest.getDoc() == 'All'}">All</option>
										<option
											th:each="entry : ${docs}"
											th:value="${entry}" th:text="${entry}" 
											th:selected="${reportRequest.getDoc() == entry}">
											Wireframe</option>
								</select>
							</div>
							<div class="col-6 col-md-2">&nbsp;&nbsp;</div>			
						</div>
						
						<div  style="display: none" id="userList">
							<div class="col-6 col-md-2">&nbsp;&nbsp;</div>					
							<div class="col-6 col-md-6">
								<label for="user"><b>Users:</b>
								<select size="1"
									id="user" name="user" class="userSelect"
									th:required="required">
										<option value="-1">----Select----</option>
										<option
											th:each="entry : ${docUsers}"
											th:value="${entry.getUserId()}" th:text="${entry.getFirstName() + ' ' + entry.getLastName()}"
											th:selected="${reportRequest.getUser() == entry.getUserId()}">
											Wireframe</option>
								</select>
								</label>
							</div>
						</div>
						<div style="display: none" id="basepathList">
							<div class="col-6 col-md-2">&nbsp;&nbsp;</div>
							<div class="col-6 col-md-4">
								<label><b>Base Path:</b></label>
								<select size="1"
									id="basepath" name="basepath" class="form-control"
									th:required="required">
										<option value="-1">----Select----</option>
										<option value="All" th:if="${canSeeAllDocs}" th:selected="${reportRequest.getBasepath() == 'All'}">All</option>
										<option
											th:each="entry : ${basepaths}"
											th:value="${entry}" th:text="${entry}" 
											th:selected="${reportRequest.getBasepath() == entry}">
											Wireframe</option>
								</select>
							</div>
							<div class="col-6 col-md-2">&nbsp;&nbsp;</div>
						</div>
						<div style="display: none" id="collectionPath">
							<div class="col-6 col-md-2">&nbsp;&nbsp;</div>
							<div class="col-6 col-md-8">
								<label><b>Collection Path:</b></label>
								<input type="text" name="path" id="path" th:value="${reportRequest.getPath()}" size="100"/>
							</div>
							<div class="col-6 col-md-2">&nbsp;&nbsp;</div>
						</div>
					</div> <!-- First Row End -->
					<div class="row">
						<div class="col-md-12">&nbsp;</div>
					</div>			
					<!-- Second Row Begin -->
					<div class="row">			
						<div style="display: none" id="fromDateDiv">
							<div class="col-md-2">
								<label><b>From Date:</b></label>
								<div class="input-group date" data-provide="datepicker">	
	    							<input type="text" class="form-control" id="fromDate" name="fromDate" th:value="${reportRequest.getFromDate()}"/>
	    							<div class="input-group-addon">
	        							<span class="glyphicon glyphicon-th"></span>
	    							</div>
								</div>
							</div>
						</div>						
						<div style="display: none" id="toDateDiv">
							<div class="col-md-1">&nbsp;</div>
							<div class="col-md-2">
								<label><b>To Date:</b></label>						
								<div class="input-group date" data-provide="datepicker">
    								<input type="text" class="form-control" id="toDate" name="toDate" th:value="${reportRequest.getToDate()}"/>
    								<div class="input-group-addon">
        								<span class="glyphicon glyphicon-th"></span>
    								</div>
    							</div>
							</div>
							<div class="col-md-1">&nbsp;</div>						
						</div>
						<div>
							<div class="col-md-2">
								<br />
								<button type="submit" class="btn btn-md btn-primary"
									id="primaryButton" onClick="return validateAndSubmit()">Generate</button>
							</div>
						</div>
					</div> <!-- Second Row end -->
					<input type="hidden" id="actionType" name="actionType" />	 
				</form>
				<div style="width: 800px; height: 800px; overflow-y: scroll; margin-left: 15%;"
					th:if="${reports != null and reports.size() == 1}">
					<div class="row">
						<div class="col-md-12">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-md-12">&nbsp;</div>
					</div>
					<table class="table">
						<caption th:text="${reportName}">Basic Table Layout</caption>				
						<tbody>
							<tr id='attrRow0' th:each="report : ${reports}">
								<td style="white-space: nowrap" align="right" colspan="2">
									<table class="table">
										<div th:if="${report.doc != null and !report.doc.isEmpty()}">
										<tr>
											<td align="center"
												style="background-color: #006DCC; color: white;" colspan="2">
												<label for="doc">DOC:&nbsp;</label><label for="doc"
												th:text="${report.doc}">DOC</label>
											</td>
										</tr>
										</div>
										<div th:if="${report.user != null and !report.user.isEmpty()}">
											<tr>
												<td align="center"
													style="background-color: #006DCC; color: white;"
													colspan="2"><label for="user">User:&nbsp;</label><label
													for="user" th:text="${report.user}">User</label></td>
											</tr>
										</div>
										<div th:if="${report.path != null and !report.path.isEmpty()}">
											<tr>
												<td align="center"
													style="background-color: #006DCC; color: white;"
													colspan="2"><label for="path">Base Path:&nbsp;</label><label
													for="user" th:text="${report.path}">Base Path</label></td>
											</tr>
										</div>
										<div th:if="${report.fromDate != null and !report.fromDate.isEmpty()}">
										<tr>
											<td align="center"
												style="background-color: #006DCC; color: white;" colspan="2">
												<label for="fromDate">Reporting Period from Date: </label> <label
												for="fromDate" th:text="${report.fromDate}">date</label> <br />
												<label for="toDate">Reporting Period to Date: </label> <label
												for="toDate" th:text="${report.toDate}">date</label>
											</td>
										</tr>
										</div>
										<tr id='attrRow0' th:each="entry : ${report.reportEntries}">
											<td th:text="${entry.attribute}">value</td>
											<td th:utext="${entry.value}">value</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
				<!-- Start of Grid code -->
				<!-- Start BasePath or DOC Grid -->
				<div 
				   th:if="${reports != null and reports.size() > 1 and reportRequest.getReportType() != 'USAGE_SUMMARY_BY_DATA_OWNER'}">
					<div class="row">
						<div class="col-md-12">&nbsp;</div>
					</div>
					<div class="header1" style="width: 800px; overflow-y: scroll; margin-left: 15%;"> 
					  <h4 th:text="${reportName}"></h4>
					  <h5 th:text="'Reporting Period: From ' + ${reports[0].fromDate} + ' to ' +  ${reports[0].toDate}"> </h5>
					</div>

					<table id="report_grid" class="display" style="width:100%">					
						<thead>
							<tr id='attrRow0'>
								<td id='index0' th:text="Index"></td>
								<td id='path0' th:if="${reports[0].getType()} == 'USAGE_SUMMARY_BY_BASEPATH_BY_DATE_RANGE'" th:text="Path"></td>
								<td id='path0doc' th:if="${reports[0].getType()} == 'USAGE_SUMMARY_BY_DOC_BY_DATE_RANGE'" th:text="DOC"></td>
								<th th:text="${entry.attribute}" th:each="entry : ${reports[0].reportEntries}"></th>
							</tr>
						</thead>
						<tbody>
							<tr id='attrCol0' th:each="report : ${reports}">
							   <td id='index1'></td>
							   <td id='path1'  th:if="${report.getType()} == 'USAGE_SUMMARY_BY_BASEPATH_BY_DATE_RANGE'" th:text="${report.getPath()}"></td>
							   <td id='path2'  th:if="${report.getType()} == 'USAGE_SUMMARY_BY_DOC_BY_DATE_RANGE'" th:text="${report.getDoc()}"></td>
							   <td id='attr0' th:utext="${entry.value}" th:each="entry : ${report.reportEntries}"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr id='attrFooter0'>
								<td id='indexf0' th:text="Index"></td>
								<td id='pathf0' th:text="Path"></td>
								<th th:text="${entry.attribute}" th:each="entry : ${reports[0].reportEntries}"></th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- End BasePath or DOC Grid -->
				<!-- Start Data Owner Grid -->
				<div 
				   th:if="${reports != null and reports.size() > 1 and reportRequest.getReportType() == 'USAGE_SUMMARY_BY_DATA_OWNER'}">
					<table id="report_grid" class="display" style="width:100%">
						<div class="header1" style="width: 800px; overflow-y: scroll; margin-left: 15%;"> 
						  <h4 th:text="${reportName}"></h4>
						</div>
						<thead>
							<tr id='attrRow2'>
								<td id='index001' th:text="Index"></td>
								<td id='path001' th:text="DOC"></td>
								<td id='path002' th:text="BasePath"></td>
								<td id='path003' th:text="'Object Path'"></td>
								<td id='path004' th:text="'Data Owner'"></td>
								<td id='path005' th:text="'Data Curator'"></td>
								<th th:text="${entry.attribute}" th:each="entry : ${reports[0].reportEntries}"></th>
							</tr>
						</thead>
						<tbody>
							<tr id='attrCol2' th:each="report : ${reports}">
							   <td id='index01'></td>
							   <td id='path1'  th:text="${report.getDoc()}"></td>
							   <td id='path2' th:text="${report.getPath()}"></td>
							   <td id='path3' th:text="${report.getUser()}"></td>
							   <td id='path4' th:text="${report.getDataOwner()}"></td>
							   <td id='path5' th:text="${report.getDataCurator()}"></td>
							   <td id='attr0' th:text="${entry.value}" th:each="entry : ${report.reportEntries}"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr id='attrFooter2'>
								<td id='index0000' th:text="Index"></td>
								<td id='path0011' th:text="Doc"></td>
								<td id='path0022' th:text="BasePath"></td>
								<td id='path0033' th:text="'Object Path'"></td>
								<td id='path0044' th:text="'Data Owner'"></td>
								<td id='path0055' th:text="'Data Curator'"></td>
								<th th:utext="${entry.attribute}" th:each="entry : ${reports[0].reportEntries}"></th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- End Data Owner Grid -->
				<!-- End of Grid code -->
			</section>
			<div th:include="footer :: footer"></div>
		</section>
		<!--main content end-->
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<script src="js/metawidget/core/metawidget-core.min.js"
		type="text/javascript"></script>
	<script src="js/metawidget/metawidget-bootstrap.min.js"
		type="text/javascript"></script>
	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- nice scroll -->
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<!-- charts scripts -->
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
	<script src="js/owl.carousel.js"></script>
	<!-- jQuery full calendar -->
	<script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
	<!--script for this page only-->
	<script src="js/calendar-custom.js"></script>
	<script src="js/jquery.rateit.min.js"></script>
	<!-- custom select -->
	<script src="js/jquery.customSelect.min.js"></script>
	<script src="assets/chart-master/Chart.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>
	<!-- custom script for this page-->
	<script src="js/sparkline-chart.js"></script>
	<script src="js/easy-pie-chart.js"></script>
	<script src="js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="js/jquery-jvectormap-world-mill-en.js"></script>
	<script src="js/xcharts.min.js"></script>
	<script src="js/jquery.autosize.min.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/gdp-data.js"></script>
	<script src="js/morris.min.js"></script>
	<script src="js/sparklines.js"></script>
	<script src="js/charts.js"></script>
	<script src="js/jquery.slimscroll.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/select2-4.0.11.min.js"></script>

	<script>
	//<![CDATA[
	
	$(document).ready(function() {
		var reportType = document.getElementById("reportType").value;
		var exportFileName = "";
		const d = new Date();
		let pretag = "NCI_DME_";
		let tag = `_${(new Date().toJSON().slice(0,10))}`;
		switch (reportType) {
			case 'USAGE_SUMMARY_BY_BASEPATH_BY_DATE_RANGE':
				exportFileName= pretag + "Basepath_Report" + tag;
				break;
			case 'USAGE_SUMMARY_BY_DOC_BY_DATE_RANGE':
				exportFileName= pretag + "Doc_Report" + tag;
				break;
			case 'USAGE_SUMMARY_BY_DATA_OWNER':
				exportFileName= pretag + "Data_Owner_Report" + tag;
				break;
			default:
				break;
		}
		
		var eo = {
		    columns: [ [0,1], ':visible' ]
		    };
 
	    var table = $('#report_grid').DataTable( {
				responsive: true,
				dom: 'Blfrtip',
				fixedHeader: true,
				buttons: [
				{
					extend: 'copyHtml5',
					exportOptions: eo,
					text: '<i class="fa fa-files-o">Copy to Clipboard</i>'
				},
				{
					extend: 'excelHtml5',
					title: exportFileName,
					exportOptions: eo
				},
				{
	                extend: 'colvis',
	                text: 'Show/Hide Columns',
	                columns: ':nth-child(n+3)' // Exclude first two columns from show/hide. It starts from 3rd column
	            },
				],
				"order": [[ 1, 'asc' ]],
				"columnDefs": [ {
								"targets": 0, // The first column - index
								"searchable": false,
								"orderable": false,
								"visible": true
								},
								{
								"targets": [-1], // Last column should not be sortable. Human readable value.
								"orderable": false,
								"visible": true
								},
								{
								"targets": [ 1, 2, 3, 4, 5, 6], // Visible columns at start up(include 0 specified above)
								"visible": true
	  							},
								{
								"targets": '_all', // The rest of the columns will not visible at start up
								"visible": false
								}
								],
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],     // page length options
			} );
	    
			table.on( 'order.dt search.dt', function () {
					let i = 1;
					table.cells(null, 0, {search:'applied', order:'applied'}).every( function (cell) {
					this.data(i++);
				} );
			} ).draw();


		$('a.toggle-vis').on( 'click', function (e) {
			e.preventDefault();

			// Get the column API object
			var column = table.column( $(this).attr('data-column') );

			// Toggle the visibility
			column.visible( ! column.visible() );
		} );
	} );

	$(document).ready(function(){
		$('#sub-menu-reports').addClass("active");
		$('.userSelect').select2({
    		width: 'resolve', 
		});
	});
		
  $('#fromDate').datepicker({
	    format: 'mm/dd/yyyy',
	    defaultDate: '01/01/2016'
	}).on('change', function(){
        $('.datepicker').hide();
    });
 
  if($('#fromDate').val() == '')
  	$('#fromDate').datepicker('setDate', '01/01/2016');
  
  $('#toDate').datepicker({
	    format: 'mm/dd/yyyy',
	    defaultDate: 'now'    
	}).on('change', function(){
        $('.datepicker').hide();
    });
  
  if($('#toDate').val() == '')
  	$('#toDate').datepicker('setDate', new Date());
  
  //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
          show(selected);
      });

      var toggle = true;
      function show(reportType) {
    	var fromDateEle = document.getElementById("fromDateDiv");
    	var toDateEle = document.getElementById("toDateDiv");
    	var docListEle = document.getElementById("docList");
    	var userListEle = document.getElementById("userList");
    	var basepathListEle = document.getElementById("basepathList");
    	var pathEle = document.getElementById("collectionPath");
      	var selectedValue = reportType;
      	if(selected != reportType) {
      		$('#fromDate').datepicker('setDate', '01/01/2016');
      		$('#toDate').datepicker('setDate', new Date());
      	}
      	if(selectedValue == "USAGE_SUMMARY_BY_DATE_RANGE")
      	{
      		fromDateEle.style.display = "block";
      		toDateEle.style.display = "block";
      		docListEle.style.display = "none";
      		userListEle.style.display = "none";
      		basepathListEle.style.display = "none";
      		pathEle.style.display = "none";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_DOC")
      	{
      		docListEle.style.display = "block";
      		fromDateEle.style.display = "none";
      		toDateEle.style.display = "none";
      		userListEle.style.display = "none";
      		basepathListEle.style.display = "none";
      		pathEle.style.display = "none";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_DOC_BY_DATE_RANGE")
      	{
      		fromDateEle.style.display = "block";
      		toDateEle.style.display = "block";
      		docListEle.style.display = "block";
      		userListEle.style.display = "none";
      		basepathListEle.style.display = "none";
      		pathEle.style.display = "none";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_USER")
      	{
      		userListEle.style.display = "block";
      		docListEle.style.display = "none";
      		fromDateEle.style.display = "none";
      		toDateEle.style.display = "none";
      		basepathListEle.style.display = "none";
      		pathEle.style.display = "none";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_USER_BY_DATE_RANGE")
      	{
      		userListEle.style.display = "block";
      		docListEle.style.display = "none";
      		fromDateEle.style.display = "block";
      		toDateEle.style.display = "block";
      		basepathListEle.style.display = "none";
      		pathEle.style.display = "none";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_BASEPATH")
      	{
      		userListEle.style.display = "none";
      		docListEle.style.display = "none";
      		fromDateEle.style.display = "none";
      		toDateEle.style.display = "none";
      		pathEle.style.display = "none";
      		basepathListEle.style.display = "block";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_BASEPATH_BY_DATE_RANGE")
      	{
      		userListEle.style.display = "none";
      		docListEle.style.display = "none";
      		pathEle.style.display = "none";
      		fromDateEle.style.display = "block";
      		toDateEle.style.display = "block";
      		basepathListEle.style.display = "block";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_PATH")
      	{
      		userListEle.style.display = "none";
      		docListEle.style.display = "none";
      		fromDateEle.style.display = "none";
      		toDateEle.style.display = "none";
      		basepathListEle.style.display = "none";
      		pathEle.style.display = "block";
      	}
      	else if(selectedValue == "USAGE_SUMMARY_BY_PATH_BY_DATE_RANGE")
      	{
      		userListEle.style.display = "none";
      		docListEle.style.display = "none";
      		basepathListEle.style.display = "none";
      		fromDateEle.style.display = "block";
      		toDateEle.style.display = "block";
      		pathEle.style.display = "block";
      	}
      	else
      	{
      		docListEle.style.display = "none";
      		toDateEle.style.display = "none";
      		fromDateEle.style.display = "none";
      		docListEle.style.display = "none";
      		userListEle.style.display = "none";
      		basepathListEle.style.display = "none";
      		pathEle.style.display = "none";
      	}
      	
      }
	
      function validateAndSubmit() {
		var reportType = document.getElementById("reportType").value;
		var fromDateVal = document.getElementById("fromDate").value;
		var toDateVal = document.getElementById("toDate").value;
		var docListValue = document.getElementById("docList").value;
		var userListValue = document.getElementById("userList").value;
    	  
		var fromDate = new Date(fromDateVal);
		var toDate = new Date(toDateVal);
		if(fromDate.valueOf() > toDate.valueOf()){
			alert("Invalid date range");
			return false;
		}
		if(reportType == "-1"){
			alert("Please select report type");
			return false;
		}
		validateDateRange();
		if(reportType == "USAGE_SUMMARY_BY_DATE_RANGE"){
			document.getElementById("doc").value = "-1";
			document.getElementById("user").value = "-1";
		}
		else if(reportType == "USAGE_SUMMARY_BY_DOC_BY_DATE_RANGE"){
			document.getElementById("user").value = "-1";
			if(document.getElementById("doc").value == "-1"){
				alert("Please select a DOC");
				return false;
			}
		}
		else if(reportType == "USAGE_SUMMARY_BY_USER_BY_DATE_RANGE"){
			document.getElementById("doc").value = "-1";
			if(document.getElementById("user").value == "-1"){
				alert("Please select a user");
				return false;
			}
        }
		else if(reportType == "USAGE_SUMMARY_BY_BASEPATH_BY_DATE_RANGE"){
			document.getElementById("doc").value = "-1";
			document.getElementById("user").value = "-1";
			if(document.getElementById("basepath").value == "-1"){
				alert("Please select a Base path");
				return false;
			}
		}
		else if(reportType == "USAGE_SUMMARY_BY_PATH_BY_DATE_RANGE"){
			document.getElementById("doc").value = "-1";
			document.getElementById("user").value = "-1";
			document.getElementById("basepath").value = "-1";
			if(document.getElementById("path").value == null || document.getElementById("path").value == ""){
				alert("Please enter path");
				return false;
			}
			//Strip trailing "/" if present
			var lastChar = $("#path").val().substr(-1);
			if(lastChar === '/') {
				var updatedPath = $("#path").val().slice(0, -1);
				$("#path").val(updatedPath);
			}
		}
		document.getElementById("reportsform").submit();
      }


      function validateDateRange(){
		if($('#fromDate').val() == '')
			$('#fromDate').val('01/01/2016');
		if($('#toDate').val() == '') {
			var now = new Date();
			$('#toDate').val($.datepicker.formatDate("mm/dd/yy", new Date()));
    	  }
		return true;
      }
    //]]>
  </script>

</body>
</html>
