
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<style>
/*style.css*/
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
</style>
</head>
<body>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Save Search Criteria</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="saveCriteriaForm"
			th:object="${hpcSaveSearch}">
			<input type="hidden" th:field="*{selectedColumns}" id="selectedColumns"/>
			<input type="hidden" th:value="${hpcSaveSearch.frequency}" id="savedFrequency"/>
			<div th:if="${!#strings.isEmpty(hpcSaveSearch.getCriteriaName())}" class="pull-center" id="note">
				<p>You can save a query with a new name by changing the name below.<br/>
					Note: Saving with the same name replaces the existing query.</p>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<table style="width: 100%;">
						<tr>
							<td>
								<div class="pull-left" id="message"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
								  <div class="col-sm-12 column">
									<label for="criteriaName">Name:</label> <input type="text"
										class="form-control" th:field="*{criteriaName}" id="criteriaName"
										placeholder="Enter Name" />
								  </div>
								</div>
								<div class="form-group">
								  <div class="col-sm-12 column">
									<label for="frequency">Auto Run Frequency:</label>
										<label style="margin-left:15px;"><input type="radio"
										th:field="*{frequency}" id="frequency_monthly"
										value="MONTHLY" />&nbsp;Monthly</label>
										<label style="margin-left:15px;"><input type="radio"
										th:field="*{frequency}" id="frequency_weekly"
										value="WEEKLY" />&nbsp;Weekly</label>
										<label style="margin-left:15px;"><input type="radio"
										th:field="*{frequency}" id="frequency_none"
										value="" />&nbsp;None</label>
								  </div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" id="submit">Save</button>
									<button type="button" class="btn btn-default btn-default" data-dismiss="modal"
										id="close">Close</button>
								</div>
							</td>
						</tr>
					</table>
				</div>

			</div>
			
		</form>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
 $(function() {
//twitter bootstrap script
 var $form = $('#saveCriteriaForm');
 $('#saveCriteriaForm').on('submit', function(e){	 
	 e.preventDefault();
	 var ele = document.getElementById("message");
	 var searchName = document.getElementById("criteriaName").value;
	 if(searchName.indexOf(' ') >= 0) {
		 alert ("The space character is not allowed.");
		 	return false;
	 }
	 else if(checkForSpecialChar(searchName))
		 {
		 	alert ("The only special characters allowed are underscore (_) and dash (-).");
		 	return false;
		 }
	 
	 if(selectedColumns != null)
	 	document.getElementById("saveCriteriaForm").elements.namedItem("selectedColumns").value = selectedColumns;
	 
	 $.ajax({
     type: "POST",
	 url: "/savesearch",
	 data: $form.serialize(),
	 success: function(msg){
	     console.log('SUCCESS: ', msg);
	     $('#message').html(msg.message);
 	     ele.style.display = "block";
	 },
	 error: function(e){
	 console.log('ERROR: ', e);
	     $('#message').html(e.message);
	     ele.style.display = "block";
	 }
     });
	 
 });
});

 function hasWhiteSpace(s) {
		  return s.indexOf(' ') >= 0;
 }

 var specialChars = " <>@!#$%^&*()+[]{}?:;|'\"\\,./~`=";
 var checkForSpecialChar = function(string){
  for(i = 0; i < specialChars.length;i++){
    if(string.indexOf(specialChars[i]) > -1){
        return true
     }
  }
  return false;
 }
 
 $(function() {
	//twitter bootstrap script
	 $('#saveCriteriaForm').on('close', function(e){	 
		 $('#myModal-event').modal('hide');
	 });
	 $('.modal').on('hidden.bs.modal', function(e){ 
        $(this).removeData();
     });
 });
 $(document).ready(function(){
     if($('#savedFrequency').val() == 'MONTHLY') {
         $("#frequency_monthly").prop("checked", true);
     } else if ($('#savedFrequency').val() == 'WEEKLY') {
         $("#frequency_weekly").prop("checked", true);
     } else {
    	 $("#frequency_none").prop("checked", true);
     }
  });
 /*]]>*/
</script>

</body>
</html>