<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<HEAD>
<META HTTP-EQUIV='PRAGMA' CONTENT='NO-CACHE'/>
<META HTTP-EQUIV='CACHE-CONTROL' CONTENT='NO-CACHE'/>
<title>NCI DME Auto-POST form</TITLE>
</HEAD>
<body onLoad="document.forms[0].submit()">
	<NOSCRIPT>
		Your browser does not support JavaScript. Please click the 'Continue'
		button below to proceed. <br/>
		<br/>
	</NOSCRIPT>
	<form th:if="${urlencoded}" th:action="${redirectURL}" method="POST">
		<input type="hidden" name="token" th:value="${token}"/>
		<NOSCRIPT>
			<INPUT TYPE="SUBMIT" VALUE="Continue"/>
		</NOSCRIPT>
	</form>
	<form th:if="${!urlencoded}" th:action="${redirectURL}" method="POST" enctype="text/plain">
		<div th:remove="tag" th:utext="${formattedToken}"></div>
		<NOSCRIPT>
			<INPUT TYPE="SUBMIT" VALUE="Continue"/>
		</NOSCRIPT>
	</form>
</body>
</html>
