<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='PRAGMA' content='NO-CACHE'/>
<meta http-equiv='CACHE-CONTROL' content='NO-CACHE'/>
<title>NCI DME Auto-POST form</title>
</head>
<body onLoad="document.forms[0].submit()">
	<noscript>
		Your browser does not support JavaScript. Please click the 'Continue'
		button below to proceed. <br/>
		<br/>
	</noscript>
	<form th:if="${urlencoded}" th:action="${redirectURL}" method="POST">
		<input type="hidden" name="token" th:value="${token}"/>
		<noscript>
			<input type="submit" value="Continue"/>
		</noscript>
	</form>
	<form th:if="${!urlencoded}" th:action="${redirectURL}" method="POST" enctype="text/plain">
		<div th:remove="tag" th:utext="${formattedToken}"></div>
		<noscript>
			<input type="submit" value="Continue"/>
		</noscript>
	</form>
</body>
</html>
