<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>NCI Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script
	src="js/angular/1.5.0/angular.js"></script>
<script
	src="js/angular/1.5.0/angular-touch.js"></script>
<script
	src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>

<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	height: 300px
}
</style>
</head>
<body ng-controller="MyCtrl">

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-share-alt"></i> Subscribe Notifications
						</h3>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="panel panel-default">
							<div th:if="${updateStatus != null}">
								<div class="alert alert-error">
									<a class="close" data-dismiss="alert">×</a> <label
										for="${updateStatus}" th:text="${updateStatus}"></label>
								</div>
							</div>
							<div th:if="${error == null}">
								<!--panel-body start-->
								<div class="panel-body">
									<form class="form-horizontal" th:action="@{/subscribe}"
										id="notificationRequest" th:object="${notificationRequest}"
										method="post" enctype="multipart/form-data">
										<div class="form-group">
											<div class="col-sm-10 column">
												<table class="table table-bordered table-hover"
													id="metaAttrTable">
													<thead>
														<tr>
															<th class="text-center">Subscribe</th>
															<th class="text-center">Notification Type</th>
														</tr>
													</thead>
													<tbody>
														<tr id='attrRow0'
															th:each="notification : ${notifications}" th:with="index=0">
															<td style="white-space: nowrap" align="right">
																<div th:if="${notification.subscribed} == true and ${notification.eventType} != 'COLLECTION_UPDATED'">
																	<input type="checkbox"
																		th:value="${notification.eventType}" name="eventType"
																		checked="checked" onClick="enableSave()" />
																</div>
																<div th:if="${notification.subscribed} == false and ${notification.eventType} != 'COLLECTION_UPDATED'">
																	<input type="checkbox"
																		th:value="${notification.eventType}" name="eventType"  onClick="enableSave()"/>
																</div>
															</td>
															<td style="white-space: nowrap">
															<label
																for="eventType" th:text="${notification.displayName}">value:</label>
																<div th:if="${notification.eventType} == 'COLLECTION_UPDATED'" >
																<br/>
																	<table class="table table-bordered table-hover" id="collectionTable">
																	<tbody>
																		
																		<tr th:each="trigger, iterationStatus : ${notification.getTriggers()}">
																		<div th:each="entry : ${trigger.getEntries()}" id='collRow0' >
																		<td th:if="${entry.getPath()} != null">
																			<input type="checkbox" th:id="'existingCollectionCheck'+${iterationStatus.count}" th:name="'existingCollectionCheck'+${iterationStatus.count}"  onClick="enableSave()" checked="checked"/>
																			<label id="existingCollectionPathAdded" th:text="${entry.getPath()}"></label>
																			<input type="hidden" th:id="'existingCollectionPath'+${iterationStatus.count}" th:name="'existingCollectionPath'+${iterationStatus.count}" th:attr="value = ${entry.getPath()}"/>
																		</td>
																		<!-- 
																		<td th:if="${entry.getMetadata()} != null">
																			<label><input type="checkbox" th:name="'existingMetadataCheck'+${iterationStatus.count}" th:id="'existingMetadataCheck'+${iterationStatus.count}" checked="checked"  onClick="enableSave()"/>Metadata Updates only</label> 
																		</td>																		
																		<td th:unless="${entry.getMetadata()} != null">
																			<label><input type="checkbox" th:name="'existingMetadataCheck'+${iterationStatus.count}" th:id="'existingMetadataCheck'+${iterationStatus.count}"  onClick="enableSave()"/>Metadata Updates only</label> 
																		</td>
																		 -->																		
																		</div>
																	</tr>
																	</tbody>
																	</table>															
																<br/>
																<table class="table table-bordered table-hover" id="collectionTable">
																<tbody>
																	<tr id='collRow0'><td>
																	<input type="text" id='collectionPath' name="collectionPath" placeholder='Collection Path' class="form-control" /><br/>
																	<!-- 
																	<label><input type="checkbox" name="metadata" id="metadata" />Metadata Updates only</label> --> 
																	</td><td>
																	<a id="addAttr" class="btn btn-default pull-left" onClick="addRow()">Add</a>
																	</td></tr>
																</tbody>
																</table>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10" align="left">
													<button type="submit" class="btn btn-md btn-primary"
														id="primaryButton" disabled="disabled">Update</button>
												</div>
											</div>

										</div>
									</form>
								</div>
							</div>

						</div>
						<!--/col-->

					</div>
				</div>
				<div class="row"></div>
			</section>
			<div th:include="footer :: footer"></div>
		</section>
		<!--main content end-->
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>

<script type="text/javascript">

$(document).ready(function(){
	$('#sub-menu-manage').addClass("active");
});

function showalert(message,alerttype) {

    $('#alert_placeholder').append('<div id="alertdiv" class="alert ' +  alerttype + '"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')

    setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs


      $("#alertdiv").remove();

    }, 5000);
  }

var rowId = 1;
//<![CDATA[

function enableSave()
{
	$('#primaryButton').removeClass('disabled');
	$('#primaryButton').prop('disabled', false);
}

function addRow() {
	var path = document.getElementById("collectionPath").value;
	if(path == null || path.trim().length == 0)
	{
//		showalert("Please enter path to monitor", "alert-error");
		alert("Please enter path to monitor");
		return;
	} 
	
	path = path.trim();
	enableSave();
	rowId++;
    var table = document.getElementById("collectionTable");
    
   // var metadata = document.getElementById("metadata").checked;
    
    var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
    rows = rows - 1;
    var row = table.insertRow(rows+1);
    row.id = "collRow"+(rows+1);
    var cell0 = row.insertCell(0);
    var cell1 = row.insertCell(1);
    cell0.innerHTML = '<td><input type="checkbox" id="collection'+(rows+1)+'" name="collection'+(rows+1)+'" checked="checked"/></td><td><label id="collectionPathAdded'+ (rowId) +'">'+ (path) + '</label><input type="hidden" id="collectionPathAdded'+(rows+1)+'" name="collectionPathAdded'+(rows+1)+'" value="'+ (path) +'"/></td>';
  
    //if(metadata)
    //	cell1.innerHTML = '<input type="checkbox" id="metadata'+(rows+1)+'" name="metadata'+(rows+1)+'" checked="checked"/><label id="metadata'+ (rowId) +'">Metadata Updates only</label>';
   	//else
    //   	cell1.innerHTML = '<input type="checkbox" id="metadata'+(rows+1)+'" name="metadata'+(rows+1)+'"/><label id="metadata'+ (rowId) +'">Metadata Updates only</label>';

    document.getElementById("collectionPath").value = "";
    //document.getElementById("metadata").checked = false;
    
}
//]]>
</script>

</body>
</html>
