
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="../css/ui-grid.css"
	type="text/css" />
<script th:inline="javascript">
/*<![CDATA[*/
    var basePaths = [[${basePaths}]];
/*]]>*/
</script>	
<style>
/*style.css*/
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
</style>
</head>
<body>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Update User</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="userForm"
			th:object="${hpcWebUser}"
			method="POST">
			<div class="panel panel-default">
				<div class="panel-body">
					<table>
						<tr>
							<td>
								<div class="pull-left" id="message"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
								<div class="pull-left" id="wait"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>&nbsp;
						</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<div class="col-sm-12 column">
										<label for="userId">User ID:</label> <input
											type="text" class="form-control"
											id="nciUserIdHidden" name="nciUserIdHidden" th:value="${hpcWebUser.getNciUserId()}" disabled="true"/>
											<input
											type="hidden" 
											id="nciUserId" name="nciUserId" th:value="${hpcWebUser.getNciUserId()}"/>
									</div>
									<div class="col-sm-12 column">
										<label for="firstName">First Name:</label> <input
											type="text" class="form-control"
											id="firstName" readonly="readonly" name="firstName"
											th:value="${userDTO.getFirstName()}" size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="lastName">Last Name:</label> <input
											type="text" readonly="readonly" class="form-control"
											id="lastName" name="lastName" th:value="${userDTO.getLastName()}"
											size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="lastName">DOC:</label> 
											<select size="1"
												id="doc" name="doc" class="form-control"
												th:required="required"  onChange="refreshBasePath(this.value)">
													<option th:if="${#lists.size(docs) &gt; 1}" value="-1">----Select----</option>
													<option
														th:each="attrName : ${docs}"
														th:value="${attrName}" th:text="${attrName}" th:selected="${attrName == userDTO.getDoc()}">
														Wireframe</option>
											</select>																			
									</div>
									<div class="col-sm-12 column" th:if="${basePaths != null and basePaths.size() &gt; 0}">
									<label for="basePath">Default Base Path: </label>
									<select size="1"
										id="basePath" name="basePath" class="form-control">
											<option value="">----Select----</option>
													<option
														th:each="docPath : ${docPaths}"
														th:value="${docPath}" th:text="${docPath}" th:selected="${docPath == userDTO.getDefaultBasePath()}">
														Wireframe</option>
									</select>
									</div>
									
									<div class="col-sm-12 column">
										<label for="role">Role:</label>
										    <select size="1" th:if="${#lists.size(docs) == 1 and userDTO.getUserRole() == 'SYSTEM_ADMIN' }"
												id="userRole" name="userRole" class="form-control"
												th:required="required">
													<option
														th:value="${userDTO.getUserRole()}" th:text="${userDTO.getUserRole()}" th:selected="selected">
														Wireframe</option>
											</select> 
											<select size="1" th:unless="${#lists.size(docs) == 1 and userDTO.getUserRole() == 'SYSTEM_ADMIN' }"
												id="userRole" name="userRole" class="form-control"
												th:required="required">
													<option th:if="${#lists.size(roles) &gt; 1}" value="-1">----Select----</option>
													<option
														th:each="attrName : ${roles}"
														th:value="${attrName}" th:text="${attrName}" th:selected="${attrName == userDTO.getUserRole()}">
														Wireframe</option>
											</select>
																														
									</div>
									<div class="col-sm-12 column" th:if="${userDTO.getActive() == true}">
										<label for="active">Active:</label> 
											<input type="checkbox" id="active" name="active" checked="checked"/>																			
									</div>
									<div class="col-sm-12 column" th:if="${userDTO.getActive() == false}">
										<label for="active">Active:</label> 
											<input type="checkbox" id="active" name="active" />																			
									</div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-md btn-primary"
										id="primaryButton">Update</button>
									<button type="button" class="btn btn-default"
										data-dismiss="modal" id="close">Close</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</form>
	</div>

	<script>
	//<![CDATA[
	$(document).ready(function(){
		$('#sub-menu-admin').addClass("active");
	});
		
	function refreshBasePath(docName) {
		var attrOptions="<option value='_select_null'>--Select--</option>";
		if(basePaths != null && basePaths.length > 0)
		{
			for(var j=0;j<basePaths.length;j++)
			{
				var attr = basePaths[j];
				var basePath = basePaths[j].substring(basePaths[j].indexOf(":")+1, basePaths[j].length);
				var doc = basePaths[j].substring(0,basePaths[j].indexOf(":"));
				if(doc == docName)
					attrOptions = attrOptions + "<option value='"+basePath+"'>"+basePath+"</option>"
			}
		}
	    $('#basePath').empty();
	    $('#basePath').append(attrOptions);
	}	
	
		$(function() {
			//twitter bootstrap script
			var $form = $('#userForm');
			$('#userForm')
					.on(
							'submit',
							function(e) {
								e.preventDefault();
									$("#wait")
											.html(
													'<img width="50" height="50" src="img/spinner.gif" alt="Wait" />');
									var ele = document
											.getElementById("message");
									ele.style.display = "none";
									var waitEle = document
											.getElementById("wait");
									waitEle.style.display = "block";
									$.ajax({
										type : "POST",
										url : "/updateuser",
										data : $form.serialize(),
										success : function(msg) {
											waitEle.style.display = "none";
											console.log('SUCCESS: ', msg);
											$('#message').html(msg.message);
											ele.style.display = "block";
										},
										error : function(e) {
											$("#wait").html('');
											console.log('ERROR: ', e);
											$('#message').html(e.message);
											ele.style.display = "block";
										}
									});
							});
		});

		$(function() {
			//twitter bootstrap script
			$('#userForm').on('close', function(e) {
				$('#myModal-event').modal('hide');
			});
		});
	//]]>
	</script>

</body>
</html>