<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>NCI Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
<script
	src="js/angular/1.5.0/angular.js"></script>
<script
	src="js/angular/1.5.0/angular-touch.js"></script>
<script
	src="js/angular/1.5.0/angular-animate.js"></script>
<script src="js/ui-grid/csv.js"></script>
<script src="js/ui-grid/pdfmake.js"></script>
<script src="js/ui-grid/vfs_fonts.js"></script>

<script src="js/ui-grid/4.0.2/ui-grid.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>

<style>
/*style.css*/
.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	height: 300px
}
</style>
<script th:inline="javascript">
/*<![CDATA[*/
    var assignedNames = [[${assignedNames}]];
/*]]>*/
</script>

</head>
<body ng-controller="MyCtrl">

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header">
							<i class="fa fa-lock"></i> Update Group
						</h3>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="panel panel-default">
							<div>
								<!--panel-body start-->
								<div class="panel-body">
									<div class="form-group">
										<div class="col-md-12 form-group">
											<form class="form-horizontal" id="groupForm"
												th:object="${hpcWebGroup}" method="POST">
												<div class="panel panel-default">
													<div class="panel-body">
														<table>
															<tr>
																<td>
																	<div th:if="${messages != null}">
																		<div class="alert alert-error" th:each="message: ${messages}">
																			<a class="close" data-dismiss="alert">×</a> <label
																				for="${message}" th:text="${message}"></label>
																		</div>
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	<div class="form-group">
																		<div class="col-sm-12 column">
																			<label for="groupName">Group Name:</label> <input
																				type="text" class="form-control" id="groupName"
																				name="groupName" th:value="${group != null ? group.getGroupName() : ''}" size="40" th:disabled="disabled" />
																				<input type="hidden" id="groupId" name="groupId" th:value="${group != null ? group.getGroupName() : ''}"/>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="submit" class="btn btn-md btn-primary"
																			id="primaryButton" onClick="deleteGroup()" th:disabled="${group != null} ?'false' : 'disabled'">Delete</button>
																		<button type="submit" class="btn btn-md btn-primary"
																			id="primaryButton" onClick="updateGroup()" th:disabled="${group != null} ?'false' : 'disabled'">Update</button>
																		<button type="submit" class="btn btn-primary"
																			data-dismiss="modal" id="close" onClick="cancel()">Cancel</button>
																	</div>
																	<input type="hidden" name="actionType" id="actionType"/>
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
															</tr>
															<tr th:if="${group != null}">
																<td>Add/Remove Users to/from Group</td>
															</tr>
															<tr th:if="${group != null}">
																<td>
																	<div class="form-group">
																		<table class="table table-bordered table-hover"
																			id="usersTable">
																			<thead>
																				<tr>
																					<th class="text-center">Select</th>
																					<th class="text-center">User ID</th>
																				</tr>
																			</thead>
																			<tbody>
																			<!-- 
																				<tr th:if="${group.getUserIds().size()} == 0">
																					<th class="text-center">&nbsp;</th>
																					<th class="text-center">&nbsp;</th>
																				</tr>
																				 -->
																				<tr id='usersRow0'
																					th:each="userId, iterationStatus : ${group.getUserIds()}"
																					th:with="index=0">
																					<td style="white-space: nowrap" align="center"><input
																						type="checkbox"
																						th:id="'userId'+${iterationStatus.count}"
																						th:name="'userId'+${iterationStatus.count}"
																						checked="checked" /></td>
																					<td style="white-space: nowrap" align="center"><label
																						for="${userId}" th:text="${userId}"></label> <input
																						type="hidden"
																						th:id="'userName'+${iterationStatus.count}"
																						th:name="'userName'+${iterationStatus.count}"
																						th:value="${userId}"/></td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</td>
															</tr>
															<tr th:if="${group != null}">
																<td>
																	<div class="form-group">
																		<table class="table table-hover" id="entryTable">
																			<tr id='entryTableRow1' align="center">
																				<td style="white-space: nowrap" align="right"><label
																					for="Share With">User:</label></td>
																				<td style="white-space: nowrap" align="left"><input
																					type="text" id="userName"
																					th:value="${selectedUsers}" />&nbsp;&nbsp;&nbsp; <a
																					id="userNamelink" class="btn btn-link btn-sm"
																					th:href="@{'/finduser?source=updategroup&amp;type=group&amp;path='+${group.getGroupName()}}">Search</a></td>
																			</tr>
																			<tr id='entryTableRow2' align="center">
																				<td style="white-space: nowrap" align="right"
																					colspan="2"><a id="addUserButton"
																					class="btn btn-default pull-right"
																					onClick="addUser()">Add</a></td>
																			</tr>
																		</table>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!--/col-->

					</div>
				</div>
				<div class="row"></div>
			</section>
			<div th:include="footer :: footer"></div>
		</section>
		<!--main content end-->
	</section>
	<!-- container section start -->

	<!-- javascripts -->
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery-ui-1.10.4.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script src="js/jquery.sparkline.js" type="text/javascript"></script>
	<script src="js/jquery.customSelect.min.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>

	<script type="text/javascript">
	//<![CDATA[
	           
		$(document).ready(function(){
			$('#sub-menu-admin').addClass("active");
		});
	    function updateGroup()
	    {
			document.getElementById("actionType").value = "update";
			$("#groupForm").submit();
	    }
	    
	    function deleteGroup()
	    {
	    	if (confirm("Are you sure you want to delete this?") == true) {
				document.getElementById("actionType").value = "delete";
				$("#groupForm").submit();
	    	}
	    }
	    
	    function cancel()
	    {
			document.getElementById("actionType").value = "cancel";
			$("#groupForm").submit();
	    }

	    function enableSave() {
			$('#primaryButton').removeClass('disabled');
			$('#primaryButton').prop('disabled', false);
		}
		var rowId = 1;

		function addUser() {
			rowId++;
			var userNames;
			var table = document.getElementById("usersTable");
			var rows = 0;
			if(table.getElementsByTagName("tbody")[0]
					.getElementsByTagName("tr"))
				rows = table.getElementsByTagName("tbody")[0]
						.getElementsByTagName("tr").length;
			var userName = document.getElementById("userName");
			if(userName != null && userName != "")
				userNames = userName.value.split(";");
			
			if(assignedNames != null)
			{
			for(i = 0; i < assignedNames.length; i++)
			{
				for(var j=0;j<userNames.length;j++)
				{
					if(userNames[j] == assignedNames[i])
					{
						alert("Duplicate Entry!");
						return false;
					}
				}
			}
			}
			
			if(userName.value == null || userName.value == "")
			{
				alert("Invalid entry. User name is missing");
				return false;
			}
			//table.deleteRow(1);
			rows = table.getElementsByTagName("tbody")[0]
			.getElementsByTagName("tr").length;
			for(var i=0;i<userNames.length;i++)
			{
				if(userNames[i] == "")
					continue;

				rows = rows + 1;
				var row = table.insertRow(rows);
				row.id = "userRow" + (rows);
				var cell0 = row.insertCell(0);
				cell0.align="center";
				var cell1 = row.insertCell(1);
				cell1.align="center";
				
				cell0.innerHTML = '<input type="checkbox" name="userId'
				+ (rows) + '" id="userId'
				+ (rows) + '" checked="checked" />';

				cell1.innerHTML = '<label id="userName' + (rows)
							+ '">' + (userNames[i]) + '</label>'
							+ '<input type="hidden" name="userName'
							+ (rows) + '" id="userName'
							+ (rows) + '" value="' + (userNames[i]) + '" />';
					assignedNames.push(userNames[i]);
			}

			$('#primaryButton').removeClass('disabled');
			$('#primaryButton').prop('disabled', false);
			document.getElementById("userName").value="";
			return false;
		}
		/*]]>*/
	</script>

</body>
</html>
