<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="HPC Data Management" />
<meta name="author" content="SVG, Inc" />
<link rel="shortcut icon" href="img/favicon.png" />


<title>NCI Data Management Environment</title>

<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles -->
<link rel="stylesheet" href="css/fullcalendar.css" />
<link href="css/widgets.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />
<link href="css/xcharts.min.css" rel=" stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
<link href="DataTables/DataTables-2.1.5/css/dataTables.dataTables.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
    
<style>
/*style.css*/

thead input {
        width: 100%;
    }

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }


.userIdWidth{
	width:70px;
}
.taskIdWidth{
	width:280px;
}
.sourceTypeWidth{
	width:150px;
}
.resultWidth{
	width:105px;
}
.createdWidth{
	width:110px;
}
.completedWidth{
	width:110px;
}
.errorWidth{
	width:335px;
}


</style>
<script th:inline="javascript">
/*<![CDATA[*/
    var results = [[${results}]];
    var totalRows = [[${totalCount}]];
    var currentPageSize = "[[${currentPageSize}]]";
    var currentPage = [[${currentPage}]];
    var totalPages = "[[${totalPages}]]";
    var queryAll = "[[${queryAll}]]";
/*]]>*/
</script>

</head>
<body>

	<!-- container section start -->
	<section id="container" class="">
		<div th:include="header :: header"></div>
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper-manage">
				<!--Title start-->
				<div class="row">
					<div class="col-lg-12">
						<h4>
							<i class="fa fa-gear"></i> Registration Tasks
						</h4>
					</div>
				</div>
				<!--Title End-->
				<!--Row start-->
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="col-md-3">
								<h2 th:if="${queryAll}">
									<i class="fa fa-list-alt red"></i><strong>All
										Tasks</strong>
								</h2>
								<h2 th:if="${!queryAll}">
									<i class="fa fa-list-alt red"></i><strong>My
										Tasks</strong>
								</h2>
								</div>
								<div th:if="${canQueryAll}" class="col-md-3 col-md-offset-6" style="text-align: right;">
								<h2 style="color: rgb(121, 121, 121)">
									<strong>Display All Tasks</strong>
								</h2>
								<label class="switch">
								  <input type="checkbox" id="allcheckbox" th:checked="${queryAll}" onclick="displayAll()"/>
								  <span class="slider round"></span>
								</label>
								</div>
							</div>
							<div style="text-align:right">
								<table id="pageDetails1" class="display" style="width:100%">
									<tr>
										<p>Current page <span th:text="${currentPage}"/> of <span th:text="${totalPages}"/>&nbsp;&nbsp;|&nbsp;&nbsp;Page Size:  <span th:text="${currentPageSize}"/>&nbsp;&nbsp;|&nbsp;&nbsp;Total Records:  <span th:text="${totalCount}"/> </p>
										<button type="button" id="btnFirstTop"
										class="btn btn-md btn-primary" onclick="updatePage('first')">
											First</button>&nbsp;
										<button type="button" id="btnPreviousTop"
										class="btn btn-md btn-primary"
											onclick="updatePage('previous')">Previous</button>&nbsp;
										<button type="button" id="btnNextTop"
										class="btn btn-md btn-primary" onclick="updatePage('next')">
											Next</button>&nbsp;
										<button type="button" id="btnLastTop"
										class="btn btn-md btn-primary" onclick="updatePage('last')">
											Last</button>&nbsp;
									</tr>
								</table>
							</div>
							<div th:if="${results != null and results.size() > 0}">
								<table id="resultsGrid" class="display cell-border" style="width:100%;table-layout: fixed;">
									<!--caption style="font-weight:bold" th:text="'Download Tasks'"></caption-->
									<thead>
										<tr id='attrRow2'>
											<th class="column-heading userIdWidth" id='colheading001' th:text="'User ID'"></th>
											<th class="column-heading taskIdWidth" id='colheading002' th:text="'Task ID'"></th>
											<th class="column-heading sourceTypeWidth" id='colheading004' th:text="'Source Type'"></th>
											<th class="column-heading resultWidth" id='colheading008' th:text="'Transfer Result'"></th>
											<th class="column-heading createdWidth" id='colheading006' th:text="'Created On'"></th>
											<th class="column-heading completedWidth" id='colheading007' th:text="'Completed On'"></th>
											<th class="column-heading errorWidth" id='colheading009' th:text="'Error'"></th>
										</tr>
									</thead>
									<tbody>
										<tr id='attrCol0' th:each="result : ${results}">
											<td id='col1' class="userIdWidth" th:text="${result.userId}"></td>
											<td id='col2' class="taskIdWidth" style="white-space: nowrap;">
												<a th:href="@{/uploadtask(taskId=${result.taskId}, type=${result.type})}" th:text="${result.taskId}"></a></td>
											<td id='col3' class="sourceTypeWidth" th:text="${result.sourceType}"></td>
											<td id='col4' class="resultWidth" th:text="${result.result}"></td>
											<td id='col5' class="createdWidth" th:text="${result.created}"></td>
											<td id='col6' class="completedWidth" th:text="${result.completed}"></td>
											<td id='col7' class="errorWidth" th:text="${result.error}"></td>
											<td id='col8' style="visibility: hidden;" th:text="${result.sortCreated}"></td>
											<td id='col9' style="visibility: hidden;" th:text="${result.sortCompleted}"></td>
										</tr>
										<br/>
									</tbody>
									<tfoot>
										<tr id='attrFooter2'>
										</tr>
									</tfoot>
								</table>
							</div>

							<div style="text-align:right">
								<table  class="display" style="width:100%">
									<tr>
										<p>Current page <span th:text="${currentPage}"/> of <span th:text="${totalPages}"/>&nbsp;&nbsp;|&nbsp;&nbsp;Page Size:  <span th:text="${currentPageSize}"/>&nbsp;&nbsp;|&nbsp;&nbsp;Total Records:  <span th:text="${totalCount}"/> </p>
										<button type="button" id="btnFirst"
											class="btn btn-md btn-primary" onclick="updatePage('first')">
											First</button>&nbsp;
										<button type="button" id="btnPrevious"
											class="btn btn-md btn-primary"
											onclick="updatePage('previous')">Previous</button>&nbsp;
										<button type="button" id="btnNext"
											class="btn btn-md btn-primary" onclick="updatePage('next')">
											Next</button>&nbsp;
										<button type="button" id="btnLast"
											class="btn btn-md btn-primary" onclick="updatePage('last')">&nbsp;
										Last</button>
									</tr>
								</table>
								</div>
							</div>
						</div>
					<!--/col-->

				</div>
			</section>
			<div th:include="footer :: footer"></div>
		</section>
		<!--main content end-->
	</section>
	<!-- container section start -->

<script src="js/jquery/jquery-3.7.1.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script src="DataTables/DataTables-2.1.5/js/dataTables.js"></script>
<script src="js/select2-4.0.11.min.js"></script>
<script type="text/javascript" charset="utf8" src="DataTables/Plugins/dataRender/ellipsis.js"></script>

	<!--custome script for all page-->
	<script src="js/scripts.js"></script>
<script>
/*<![CDATA[*/
	$(document).ready(function(){
		$('#sub-menu-manage').addClass("active");

		var checkBox = document.getElementById("allcheckbox");
		var queryAll = true;
		if (checkBox && checkBox.checked == false){
			queryAll = false;
		} else if (checkBox && checkBox.checked == true){
			queryAll = true;
		} else {
			// User Role
			queryAll = false;
		}

		$('#resultsGrid thead tr')
        .clone(true)
        .appendTo('#resultsGrid thead');

		$('#resultsGrid thead tr:eq(1) th').each( function (i) {
		        var title = $(this).text();
		        $(this).html( '<input type="text" placeholder="Filter by '+title+'" />' );
		        $( 'input', this ).on( 'keyup change', function () {
		            if ( table.column(i).search() !== this.value ) {
		                table
		                    .column(i)
		                    .search( this.value )
		                    .draw();
		            }
		        } );
		    } );	    

		/*
			Both the Path field and Error fields use the Ellipsis plugin to render partial string with ellipses and
			hover showing the complete string.

			The Path field, Error field and RetryUserId fields have empty strings in them.
			Therefore, they are set to type 'non-empty-string' to force the sort to ignore empty strings.

			aaSorting set to empty array, enforces no sorting on any column on the initial load of data of the page.
		*/
		var table = $('#' + 'resultsGrid').DataTable( {
				orderCellsTop: true,
				"aaSorting": [],
				dom: 'rt',
				scrollX : true,
				scrollY: '80vh',
				scrollCollapse: true,
				columnDefs: [ {targets: 0,  data: 'userId', width:70, visible: queryAll}, //userId
							{targets: 1, data: 'taskId', width:280, visible: true},  // taskId
							{targets: 2, data: 'sourceType', width: 150, visible: true},  // source type
							{targets: 3, data: 'result', width: 105, visible: true},  // transfer result
							{targets: 4, data: 'created', width: 110, visible: true, orderData:[7]},  // created
							{targets: 5, data: 'completed', width: 110, visible: true, orderData:[8]},  // completed
							{targets: 6, data: 'error', width: 335, type: 'non-empty-string', render: DataTable.render.ellipsis( 50, true )}, // error
							{targets: 7, data: 'sortCreated', visible: false, searchable: false},
							{targets: 8, data: 'sortCompleted', visible: false, searchable: false}
				],
				"lengthMenu": [ [-1], ["All"] ],
				"initComplete": function () {
					// Add Horizontal scroll on top and bottom - begin
					 $('dt-scroll-body').css({
	                    'overflow': 'hidden',
	                    'border': '0'
	                });
	                // Enable TFOOT scoll bars
	                $('.dt-scroll-foot').css('overflow', 'auto');
	                $('.dt-scroll-head').css('overflow', 'auto');
	                $('.dt-scroll-body').css('overflow', 'auto');
	                // Sync TFOOT scrolling with TBODY
	                $('.dt-scroll-foot').on('scroll', function () {
	                    $('.dt-scroll-body').scrollLeft($(this).scrollLeft());
	                });
	                $('.dt-scroll-head').on('scroll', function () {
	                    $('.dt-scroll-body').scrollLeft($(this).scrollLeft());
	                });
					//End of code foradding Horizontal scroll on top and bottom

					// Show grid
					$("#resultsGrid").show();
					// Adjust Grid columns
					$('#resultsGrid').DataTable().columns.adjust();
		      },
		} );
		// Apply the search
	    $( 'table thead'  ).on( 'keyup', ".column_search",function () {
	        table
	            .column( $(this).parent().index() )
	            .search( this.value )
	            .draw();
	    } );
	});

	function displayAll()
	{
		var checkBox = document.getElementById("allcheckbox");
		if (checkBox.checked == true){
			window.location.href = "/uploadtasks?queryAll=true";
		} else {
			window.location.href = "/uploadtasks?queryAll=false";
		}
	}
	
	function updatePage(action)
    {
    	var checkBox = document.getElementById("allcheckbox");
		if(action == "next" && checkBox != null && checkBox.checked == true)
		 	window.location.href = "/uploadtasks?queryAll=true&page=" + (parseInt(currentPage) +1);
		else if (action == "next")
			window.location.href = "/uploadtasks?queryAll=false&page=" + (parseInt(currentPage) +1);
		else if(action == "previous" && checkBox != null && checkBox.checked == true)
			window.location.href = "/uploadtasks?queryAll=true&page=" + (parseInt(currentPage) - 1);
		else if(action == "previous")
			window.location.href = "/uploadtasks?queryAll=false&page=" + (parseInt(currentPage) - 1);
		else if(action == "first" && checkBox != null && checkBox.checked == true)
			window.location.href = "/uploadtasks?queryAll=true&page=1";
		else if(action == "first")
			window.location.href = "/uploadtasks?queryAll=false&page=1";
		else if(action == "last" && checkBox != null && checkBox.checked == true)
			window.location.href = "/uploadtasks?queryAll=true&page=" + totalPages;
		else if(action == "last")
			window.location.href = "/uploadtasks?queryAll=false&page=" + totalPages;
    }
	
	if(currentPage == "1")
	{
		$('#btnPrevious').addClass('disabled');
		$('#btnPrevious').prop('disabled', true);
		$('#btnFirst').addClass('disabled');
		$('#btnFirst').prop('disabled', true);
		$('#btnNext').removeClass('disabled');
		$('#btnNext').prop('disabled', false);
		$('#btnLast').removeClass('disabled');
		$('#btnLast').prop('disabled', false);
		$('#btnPreviousTop').addClass('disabled');
		$('#btnPreviousTop').prop('disabled', true);
		$('#btnFirstTop').addClass('disabled');
		$('#btnFirstTop').prop('disabled', true);
		$('#btnNextTop').removeClass('disabled');
		$('#btnNextTop').prop('disabled', false);
		$('#btnLastTop').removeClass('disabled');
		$('#btnLastTop').prop('disabled', false);
	}
	else
	{
		$('#btnPrevious').removeClass('disabled');
		$('#btnPrevious').prop('disabled', false);
		$('#btnFirst').removeClass('disabled');
		$('#btnFirst').prop('disabled', false);
		$('#btnPreviousTop').removeClass('disabled');
		$('#btnPreviousTop').prop('disabled', false);
		$('#btnFirstTop').removeClass('disabled');
		$('#btnFirstTop').prop('disabled', false);
	}
	
	if(currentPage == totalPages)
	{
		$('#btnNext').addClass('disabled');
		$('#btnNext').prop('disabled', true);
		$('#btnLast').addClass('disabled');
		$('#btnLast').prop('disabled', true);
		$('#btnNextTop').addClass('disabled');
		$('#btnNextTop').prop('disabled', true);
		$('#btnLastTop').addClass('disabled');
		$('#btnLastTop').prop('disabled', true);
	}
	else
	{
		$('#btnNext').removeClass('disabled');
		$('#btnNext').prop('disabled', false);
		$('#btnLast').removeClass('disabled');
		$('#btnLast').prop('disabled', false);
		$('#btnNextTop').removeClass('disabled');
		$('#btnNextTop').prop('disabled', false);
		$('#btnLastTop').removeClass('disabled');
		$('#btnLastTop').prop('disabled', false);
	}

/*]]>*/
</script>	
</body>
</html>
