*.tmp
*response-message.json
*response-header
*curl-status
*autotest-output*
test-download-data-file/test-error-no-permission/input.json
test-download-data-file/test-folder-destination-different-format/input.json
test-download-data-file/test-folder-destination/input.json
test-download-data-file/test-state-chart/input.json
utils/globus-config
utils/globus-log
utils/log
