
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/bootstrap-theme.css" rel="stylesheet" />

<script src="../js/angular/1.4.3/angular.js"></script>
<script src="../js/angular/1.4.3/angular-touch.js"></script>
<script src="../js/angular/1.4.3/angular-animate.js"></script>
<script src="../js/ui-grid/csv.js"></script>
<script src="../js/ui-grid/pdfmake.js"></script>
<script src="../js/ui-grid/vfs_fonts.js"></script>
<script src="../js/ui-grid/ui-grid.js"></script>

<link rel="stylesheet" href="css/ui-grid.css"
	type="text/css" />
<script
	src="js/jquery/3.1.1/jquery.min.js"></script>
<script
	src="js/bootstrap/3.3.7/bootstrap.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var results = "[[${bookmarksList}]]";
	/*]]>*/
</script>
<style>
/*style.css*/
/* Important part */
.modal-dialog{
    width: 700px;
    overflow-y: initial !important
}
.modal-body{
    height: 450px;
    width: 700px;
    overflow-y: auto;
}
.modal-header{
    width: 700px;
    overflow-y: auto;
}
</style>
<script>
//<![CDATA[
	var app = angular.module('app', [ 'ngAnimate', 'ngTouch', 'ui.grid',
			'ui.grid.pagination', 'ui.grid.resizeColumns',
			'ui.grid.moveColumns' ]);

	app.controller('MainCtrl', [
			'$scope',
			'$http',
			'$interval',
			'uiGridConstants',
			function($scope, $http, $interval) {

				$scope.gridBookmarks = {
					enableSorting : true,
					enableFiltering : true,
					paginationPageSize : 100,
					treeRowHeaderAlwaysVisible : false,
					columnDefs : [ {
						field : 'name',
						width : 120,
						displayName : 'Name'
					}, {
						field : 'path',
						width : 500,
						displayName : 'Path'
					} ]
				};
				$scope.gridBookmarks.data = results;
			} ]);
	/*]]>*/
</script>	
</head>
<body>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Bookmarks</h4>
	</div>
	<div class="modal-body">
			<div class="panel panel-default">
				<div class="panel-body">
			<table class="table table-bordered"
				id="bookmarksTable">
				<thead>
					<tr>
						<th class="text-center">Name</th>
					</tr>
				</thead>
				<tbody>
					<tr id='bookmarksrow'
						th:each="bookmark : ${bookmarksList}"
						th:with="index=0">
						<td style="white-space: nowrap" align="center"><a th:href="@{'/browse?refresh&amp;path=' + ${bookmark.getPath()}}"><label
							for="${bookmark.getName()}"
							th:text="${bookmark.getName()}"></label></a>
						</td>
					</tr>
				</tbody>
			</table>
				</div>
			</div>
	</div>
</body>
</html>