
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/bootstrap-theme.css" rel="stylesheet" />

<script src="../js/angular/1.4.3/angular.js"></script>
<script src="../js/angular/1.4.3/angular-touch.js"></script>
<script src="../js/angular/1.4.3/angular-animate.js"></script>
<script src="../js/ui-grid/csv.js"></script>
<script src="../js/ui-grid/pdfmake.js"></script>
<script src="../js/ui-grid/vfs_fonts.js"></script>
<script src="../js/ui-grid/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css"
	type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Find User</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="userForm"
			 method="POST">
			<div class="panel panel-default">
				<div class="panel-body">
					<table>
						<tr>
							<td>
								<div class="pull-left" id="message"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
								<div class="pull-left" id="wait"
									style="display: none; float: left">
									<p>&nbsp;</p>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<div class="col-sm-12 column">
										<label for="userId">User Id:</label> <input
											type="text" class="form-control" 
											id="endPointName" placeholder="Enter UserId" />
									</div>
									<div class="col-sm-12 column">
										<label for="firstName">First Name:</label> <input
											type="text" class="form-control"
											id="firstName"
											placeholder="Enter First Name" size="40" />
									</div>
									<div class="col-sm-12 column">
										<label for="lastName">Last Name:</label> <input
											type="text" class="form-control"
											id="lastName"
											placeholder="Enter Last Name" size="40" />
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" id="submit"
										onClick="return validateAndSubmit()">Search</button>
									<button type="button" class="btn btn-primary"
										data-dismiss="modal" id="close">Close</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</form>
	</div>

	<script>
		function validateAndSubmit() {
		}
	</script>

</body>
</html>